<!-- Standing with groups -->

<table class="table matches table-condensed table-standing layout-fixed">
    <colgroup>
        <col class="number">
        <col class="rank-variation">
        <col class="team">
        <col class="extra-points">
        <col class="points">
        <col class="point-details">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
    </colgroup>
    <tbody>
    <tr class="league-data active">
        <th colspan="13">
            <div class="tools">
                <span>
                  <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                </span>
            </div>
            <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
            <div class="title">
                <a href="#" class="country"><i class="country-flag _United_Nations"></i>International :</a>
                <a href="#">Champions League </a>
                <span class="match-name">: Groupe stage - Group A</span>
            </div>
        </th>
    </tr>
    <tr>
        <th class="text-right">#</th>
        <th></th>
        <th>Team</th>
        <th></th>
        <th class="text-center">Pts</th>
        <th class="text-center"></th>
        <th class="text-center">P</th>
        <th class="text-center">W</th>
        <th class="text-center">D</th>
        <th class="text-center">L</th>
        <th class="text-center">Gf</th>
        <th class="text-center">Ga</th>
        <th class="text-center">+/-</th>
    </tr>
    <tr>
        <td class="number rank rank-standing-green" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">1</td>
        <td class="stats up"><span class="icon-arrow-up"></span>+3</td>
        <td class="team has-logo"><a href=""><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/psg.png" alt="Barcelona"></span><span>PSG</span></a></td>
        <td class="extra-points">+3</td>
        <td class="points">89</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>
    <tr>
        <td class="number rank rank-standing-green" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">2</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/monaco.png" alt="Monaco"></span><span>Monaco</span></a></td>
        <td class="extra-points"></td>
        <td class="points">89</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>
    <tr>
        <td class="number rank rank-standing-blue" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">3</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></span><span>Lille</span></a></td>
        <td class="extra-points"></td>
        <td class="points">71</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>
    <tr>
        <td class="number rank" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">4</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></span><span>St Etienne</span></a></td>
        <td class="extra-points"></td>
        <td class="points">69</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>
    </tbody>
</table>
<table class="table matches table-condensed table-standing layout-fixed">
    <colgroup>
        <col class="number">
        <col class="rank-variation">
        <col class="team">
        <col class="extra-points">
        <col class="points">
        <col class="point-details">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
        <col class="point">
    </colgroup>
    <tbody>
    <tr class="league-data active">
        <th colspan="13">
            <div class="tools">
                <span>
                  <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                </span>
            </div>
            <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
            <div class="title">
                <a href="#" class="country"><i class="country-flag _United_Nations"></i>International :</a>
                <a href="#">Champions League </a>
                <span class="match-name">: Groupe stage - Group B</span>
            </div>
        </th>
    </tr>
    <tr>
        <th class="text-right">#</th>
        <th></th>
        <th>Team</th>
        <th></th>
        <th class="text-center">Pts</th>
        <th class="text-center"></th>
        <th class="text-center">P</th>
        <th class="text-center">W</th>
        <th class="text-center">D</th>
        <th class="text-center">L</th>
        <th class="text-center">Gf</th>
        <th class="text-center">Ga</th>
        <th class="text-center">+/-</th>
    </tr>
    <tr>
        <td class="number rank rank-standing-green" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">1</td>
        <td class="stats up"><span class="icon-arrow-up"></span>+3</td>
        <td class="team has-logo"><a href=""><span class="icon-placeholder"><img src="{{ basePath }}img/team-default.png" alt="Barcelona"></span><span>PSG</span></a></td>
        <td class="extra-points">+3</td>
        <td class="points">89</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>
    <tr>
        <td class="number rank rank-standing-green" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">2</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><span class="icon-placeholder"><img src="{{ basePath }}img/team-default.png" alt="Monaco"></span><span>Monaco</span></a></td>
        <td class="extra-points"></td>
        <td class="points">89</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>
    <tr>
        <td class="number rank rank-standing-blue" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">3</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><span class="icon-placeholder"><img src="{{ basePath }}img/team-default.png" alt="Barcelona"></span><span>Lille</span></a></td>
        <td class="extra-points"></td>
        <td class="points">71</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>
    <tr>
        <td class="number rank" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">4</td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><span class="icon-placeholder"><img src="{{ basePath }}img/team-default.png" alt="Barcelona"></span><span>St Etienne</span></a></td>
        <td class="extra-points"></td>
        <td class="points">69</td>
        <td class="point-detail"></td>
        <td class="point">38</td>
        <td class="point">27</td>
        <td class="point">8</td>
        <td class="point">3</td>
        <td class="point">84</td>
        <td class="point">23</td>
        <td class="point">61</td>
    </tr>
    </tbody>
</table>
