<table class="table matches table-condensed table-standing layout-fixed">
    <colgroup>
        <col class="number rank-extra-info">
        <col class="rank-variation">
        <col class="team">
        <col class="points">
        <col class="point">
    </colgroup>
    <tbody>
    <tr class="league-data active">
        <th colspan="5">
            <div class="tools">
                <span>
                  <a class="fav active" href="#"><span class="glyphicon glyphicon-star"></span></a>
                </span>
            </div>
            <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
            <div class="title">
                <span class="country"><i class="country-flag fr"></i>France :</span>
                <a href="#">Ligue 2 </a>
            </div>
        </th>
    </tr>
    <tr>
        <th class="text-center">#</th>
        <th></th>
        <th>Team</th>
        <th class="text-center"><span class="sprite-icons yellow-card" data-toggle="tooltip" data-placement="top" data-container="body" title="" data-original-title="Number of yellow cards"></span></th>
        <th class="text-center"><span class="sprite-icons red-card" data-toggle="tooltip" data-placement="top" data-container="body" title="" data-original-title="Number of red cards"></span></th>
    </tr>
    <tr class="playing live selected">
        <td class="number rank-standing-green" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">1 <span class="extra-info">(3)</span></td>
        <td class="stats up"><span class="icon-arrow-up"></span>+3</td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/sprites/psg.png" alt="Barcelona"><span>PSG</span></a></td>
        <td class="points">89</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number rank-standing-green" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">2 <span class="extra-info">(5)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/sprites/monaco.png" alt="Monaco"><span>Monaco</span></a></td>
        <td class="points">89</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number rank-standing-clear-green" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">3 <span class="extra-info">(19)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"><span>Lille</span></a></td>
        <td class="points">71</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number rank-standing-blue" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">4 <span class="extra-info">(6)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"><span>St Etienne</span></a></td>
        <td class="points">69</td>
        <td class="point">38</td>
    </tr>

    <tr>
        <td class="number rank-standing-clear-blue" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">5 <span class="extra-info">(7)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Team with really long name</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>

    <tr class="live">
        <td class="number">6 <span class="extra-info">(1)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Sochaux</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number">7 <span class="extra-info">(9)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Bordeaux</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number">8 <span class="extra-info">(10)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Montpellier</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number">9 <span class="extra-info">(11)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Nantes</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number">10 <span class="extra-info">(12)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Guingamp</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number">11 <span class="extra-info">(13)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Rennes</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number">12 <span class="extra-info">(14)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Bastia</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number">13 <span class="extra-info">(15)</span></td>
        <td class="stats"><span class="icon-arrow-down"></span><span class="live-red">-2</span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Reims</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number">14 <span class="extra-info">(16)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Caen</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number">15 <span class="extra-info">(17)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Lorient</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number rank-standing-clear-orange" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">16 <span class="extra-info">(18)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Nice</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number rank-standing-orange" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">17 <span class="extra-info">(4)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Evian</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number rank-standing-clear-red" data-placement="top" data-toggle="tooltip" data-original-title="[qualification]" data-container="body">18 <span class="extra-info">(20)</span></td>
        <td class="stats"><span class="icon-equal"></span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Toulouse</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number rank-standing-red" data-placement="top" data-toggle="tooltip" data-original-title="[relegation]" data-container="body">19 <span class="extra-info">(8)</span></td>
        <td class="stats"><span class="icon-arrow-down"></span><span class="live-red">-2</span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Lens</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>
    <tr>
        <td class="number rank-standing-red" data-placement="top" data-toggle="tooltip" data-original-title="[relegation]" data-container="body">20 <span class="extra-info">(2)</span></td>
        <td class="stats"><span class="icon-arrow-down"></span><span class="live-red">-2</span></td>
        <td class="team has-logo"><a href=""><img src="{{ basePath }}img/team-default.png" alt="Barcelona"><span>Metz</span></a></td>
        <td class="points">40</td>
        <td class="point">38</td>
    </tr>

    </tbody>
</table>
