<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
        <span class="icon icon-football"></span>
            Champions League Top Scores
        </div>
        <div class="tools">
            <i>Les buteurs pour PSG en Ligue 1 cette saison</i>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 player">
                <a href="#"><span class="name"><img src="{{ basePath }}img/sprites/realmadrid.png" alt="Real Madrid">Cristiano Ronaldo</span></a>
                <div class="goals">
                    17
                    <p><i class="icon-football"></i> Goals</p>
                </div>
                <div class="picture">
                    <a href="#"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player"></a>
                </div>
            </div>
            <div class="col-md-4 player">
                <a href="#"><span class="name"><img src="{{ basePath }}img/sprites/psg.png" alt="PSG">Zlatan Ibrahimovic</span></a>
                <div class="goals">
                    10
                    <p><i class="icon-football"></i> Goals</p>
                </div>
                <div class="picture">
                    <a href="#"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player"></a>
                </div>
            </div>
            <div class="col-md-4 player">
                <a href="#"><span class="name"><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona">Lionel Messi</span></a>
                <div class="goals">
                    8
                    <p><i class="icon-football"></i> Goals</p>
                </div>
                <div class="picture">
                    <a href="#"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player"></a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-condensed table-striped league-clubs">
        <thead class="league-data">
        <tr>
            <th colspan="5">
                <div class="tools">
                      <span>
                        <a class="fav" href="#"><span class="glyphicon glyphicon-star"></span></a>
                      </span>
                </div>
                <div class="title">
                    <span class="country"><i class="country-flag _United_Nations"></i>International :</span>
                    <a href="#">Champions League</a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="text-center">#</th>
            <th></th>
            <th>Player (club)</th>
            <th class="text-center">Goals</th>
            <th class="text-center">P.Desc.</th>
        </tr>
        <tr>
            <td class="number">1</td>
            <td class="logo"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player"></td>
            <td class="name"><a href="">Cristiano Ronaldo</a> <span class="name">(Real Madrid)</span></td>
            <td class="goals">16</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">2</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/psg.png" alt="PSG"></td>
            <td class="name"><a href="#">Zlatan Ibrahimovic</a> <span class="name">(PSG)</span></td>
            <td class="goals">10</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">3</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></td>
            <td class="name"><a href="#">Lionel Messi</a> <span class="name">(Barcelone)</span></td>
            <td class="goals">8</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img alt="fc" src="{{ basePath }}img/sprites/fc_bayern.png"></td>
            <td class="name"><a href="#">Diego Costa</a> <span class="name">(Atletico Madrid)</span></td>
            <td class="goals">8</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">5</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/realmadrid.png" alt="Real Madrid"></td>
            <td class="name"><a href="#">Sergio Aguero</a> <span class="name">(Manchester City)</span></td>
            <td class="goals">6</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/psg.png" alt="PSG"></td>
            <td class="name"><a href="#">Robert Lewandowski</a> <span class="name">(Borussia Dortmund)</span></td>
            <td class="goals">6</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">7</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></td>
            <td class="name"><a href="#">Karim Benzema</a> <span class="name">(Real Madrid)</span></td>
            <td class="goals">5</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img alt="fc" src="{{ basePath }}img/sprites/fc_bayern.png"></td>
            <td class="name"><a href="#">Tomas Muller</a> <span class="name">(Bayern Munich)</span></td>
            <td class="goals">5</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/realmadrid.png" alt="Real Madrid"></td>
            <td class="name"><a href="#">Marian Cisovsky</a> <span class="name">(Plzen)</span></td>
            <td class="goals">5</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/psg.png" alt="PSG"></td>
            <td class="name"><a href="#">Alvaro Negredo</a> <span class="name">(Manchester City)</span></td>
            <td class="goals">5</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></td>
            <td class="name"><a href="#">Arturo Vidal <span class="name">(Juventus Turin)</span></td>
            <td class="goals">5</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img alt="fc" src="{{ basePath }}img/sprites/fc_bayern.png"></td>
            <td class="name"><a href="#">Roman Shirokov</a> <span class="name">(Zenith St Petersbourg)</span></td>
            <td class="goals">5</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/realmadrid.png" alt="Real Madrid"></td>
            <td class="name"><a href="#">Hulk</a> <span class="name">(Zenith St Petersbourg)</span></td>
            <td class="goals">5</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/psg.png" alt="PSG"></td>
            <td class="name"><a href="#">Mohamed Salah</a> <span class="name">(Chelsea)</span></td>
            <td class="goals">5</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></td>
            <td class="name"><a href="#">Marco Reus</a> <span class="name">(Borussia Dortmund)</span></td>
            <td class="goals">5</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img alt="fc" src="{{ basePath }}img/sprites/fc_bayern.png"></td>
            <td class="name"><a href="#">Aaron Ramsey</a> <span class="name">(Arsenal)</span></td>
            <td class="goals">8</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/realmadrid.png" alt="Real Madrid"></td>
            <td class="name"><a href="#">Gareth Bale</a> <span class="name">(Real Madrid)</span></td>
            <td class="goals">5</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">18</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/psg.png" alt="PSG"></td>
            <td class="name"><a href="#">Arda Turan</a> <span class="name">(Atletico Madrid)</span></td>
            <td class="goals">4</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></td>
            <td class="name"><a href="#">Robin Van Persie</a> <span class="name">(Manchester United)</span></td>
            <td class="goals">4</td>
            <td></td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="logo"><img alt="fc" src="{{ basePath }}img/sprites/fc_bayern.png"></td>
            <td class="name"><a href="#">Raul Garcia</a> <span class="name">(Atletico Madrid)</span></td>
            <td class="goals">4</td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <a href="#" class="view-more text-center"><span class="icon"><i class="icon-expand"></i></span>Display More</a>
</div>
