<div class="panel panel-default">
    <div class="panel-heading">
        Competitions
    </div>
    <table class="table table-bordered links-table">
        <tbody>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <span class="icon-placeholder"><img src="{{ basePath }}img/sprites/ligue1.png" alt="Team 4"></span>
                    <span>Ligue 1</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-cup"></span>  Summary</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-standings"></span>  Tables</a></li>
                    <li><a href="#"><span class="icon icon-team"></span> Teams</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <span class="icon-placeholder"><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/ligue2.png" alt="Team 4"></span></span>
                    <span>Ligue 2</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-cup"></span>  Summary</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-standings"></span>  Tables</a></li>
                    <li><a href="#"><span class="icon icon-team"></span> Teams</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <span class="icon-placeholder"><img src="{{ basePath }}img/sprites/premiereleague.png" alt="Team 4"></span>
                    <span>National</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-cup"></span>  Summary</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-standings"></span>  Tables</a></li>
                    <li><a href="#"><span class="icon icon-team"></span> Teams</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <span class="icon-placeholder"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Team 4"></span>
                    <span>French CFA</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-cup"></span>  Summary</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-standings"></span>  Tables</a></li>
                    <li><a href="#"><span class="icon icon-team"></span> Teams</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <span class="icon-placeholder"><img src="{{ basePath }}img/sprites/coupedefrance.png" alt="Team 4"></span>
                    <span>French Cup</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-cup"></span>  Summary</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-standings"></span>  Tables</a></li>
                    <li><a href="#"><span class="icon icon-team"></span> Teams</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <span class="icon-placeholder"><img src="{{ basePath }}img/sprites/cdl.png" alt="Team 4"></span>
                    <span>League Cup</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-cup"></span>  Summary</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-standings"></span>  Tables</a></li>
                    <li><a href="#"><span class="icon icon-team"></span> Teams</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <span class="icon-placeholder"><img src="{{ basePath }}img/sprites/ligue1.png" alt="Team 4"></span>
                    <span>Super Cup</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
