<div class="panel panel-default">
    <div class="panel-heading">
        France Teams
    </div>


    <table class="table table-bordered links-table">
        <tbody>
        <tr class="league-data active">
            <th colspan="3">
                <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i> Table</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star" data-toggle="tooltip" data-container="body" data-placement="top" title="Add/Remove from My Games"></span></a>
                            </span>
                </div>
                <a class="dropdown-toggle" href="#"><i class="icon-caret-right"></i></a>
                <div class="title">
                    <a href="#">Ligue 1</a>
                </div>
            </th>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Bastia</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Bordeaux</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Caen</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Evian</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Guingamo</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Lens</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Lille</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Lorient</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Lyon</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Metz</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Monaco - test team with a long name on multiple lines</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Montpellier</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Nantes</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Nice</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>OM</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Reims</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Rennes</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>St Etienne</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered links-table">
        <tbody>
        <tr class="league-data active">
            <th colspan="3">
                <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i> Table</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star" data-toggle="tooltip" data-container="body" data-placement="top" title="Add/Remove from My Games"></span></a>
                            </span>
                </div>
                <a class="dropdown-toggle" href="#"><i class="icon-caret-right"></i></a>
                <div class="title">
                    <a href="#">Ligue 2</a>
                </div>
            </th>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Bastia</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Bordeaux</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Caen</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Evian</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Guingamo</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Lens</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Lille</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Lorient</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Lyon</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Metz</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Monaco - test team with a long name on multiple lines</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Montpellier</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Nantes</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Nice</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>OM</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Reims</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Rennes</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>St Etienne</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered links-table">
        <tbody>
        <tr class="league-data active">
            <th colspan="3">
                <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i> Table</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star" data-toggle="tooltip" data-container="body" data-placement="top" title="Add/Remove from My Games"></span></a>
                            </span>
                </div>
                <a class="dropdown-toggle" href="#"><i class="icon-caret-right"></i></a>
                <div class="title">
                    <a href="#">Coupe de France</a>
                </div>
            </th>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Bastia</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Bordeaux</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Caen</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Evian</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Guingamo</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Lens</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Lille</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Lorient</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Lyon</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Metz</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Monaco - test team with a long name on multiple lines</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Montpellier</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Nantes</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Nice</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>OM</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Reims</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Rennes</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>St Etienne</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered links-table">
        <tbody>
        <tr class="league-data active">
            <th colspan="3">
                <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i> Table</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star" data-toggle="tooltip" data-container="body" data-placement="top" title="Add/Remove from My Games"></span></a>
                            </span>
                </div>
                <a class="dropdown-toggle" href="#"><i class="icon-caret-right"></i></a>
                <div class="title">
                    <a href="#">National (D3)</a>
                </div>
            </th>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Bastia</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Bordeaux</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Caen</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Evian</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Guingamo</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Lens</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Lille</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Lorient</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Lyon</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Metz</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Monaco - test team with a long name on multiple lines</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Montpellier</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Nantes</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Nice</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>OM</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Reims</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Rennes</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>St Etienne</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="table table-bordered links-table">
        <tbody>
        <tr class="league-data active">
            <th colspan="3">
                <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i> Table</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star" data-toggle="tooltip" data-container="body" data-placement="top" title="Add/Remove from My Games"></span></a>
                            </span>
                </div>
                <a class="dropdown-toggle" href="#"><i class="icon-caret-right"></i></a>
                <div class="title">
                    <a href="#">CFA (D4)</a>
                </div>
            </th>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Bastia</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Bordeaux</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Caen</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Evian</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Guingamo</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Lens</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Lille</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Lorient</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Lyon</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Metz</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>Monaco - test team with a long name on multiple lines</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Montpellier</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Nantes</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>Nice</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team3.png" alt="Team 4">
                    <span>OM</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team4.png" alt="Team 4">
                    <span>Reims</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team1.png" alt="Team 4">
                    <span>Rennes</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
            <td class="dropdown">
                <a href="#">
                    <img src="{{ basePath }}img/sprites/team2.png" alt="Team 4">
                    <span>St Etienne</span>
                </a>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="icon-caret-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span class="icon icon-team"></span>  Team Profie</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Results / Fixtures</a></li>
                    <li><a href="#"><span class="icon icon-calendar"></span> Stadings</a></li>
                    <li><a href="#"><span class="icon icon-shirt"></span>  Squad</a></li>
                    <li><a href="#"><span class="icon icon-stats"></span> Stats</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
