<div class="main-article">
    <img class="article-image" src="{{ basePath }}img/news/760x320.png" alt="Article Image">
    <div class="article-content">
      <h1>H1 Lorem Ipsum is simply dummy text of the printing and typesetting industry</h1>
      <div class="article-body">
        <p>
          Que sí, que todos nos creemos que somos unos másters de las apuestas por haber acertado un par de pronósticos y de combinadas. Vale que eso nos puede servir para fardar con los colegas, pero si queremos empezar a ganar pasta como los pros tenemos que empezar a seguir estos pasos para empezar a manejar billetes.
        </p>

        <ul class="table-of-content">
           <li><a href="#"><span>01</span>What is Lorem Ipsum?</a></li>
           <li><a href="#"><span>02</span>Where does it come from?</a></li>
           <li><a href="#"><span>03</span>Why do we use it?</a></li>
           <li><a href="#"><span>04</span>Where can I get some?</a></li>
        </ul>

        <h2>What is Lorem Ipsum? (H2)</h2>
        <p style="text-align: center;"><img src="{{ basePath }}img/news/288x162.png" alt="Placeholder"></p>
        <p>Lo sabemos, da bastante palo registrarse en distintas plataformas y dar todos tus datos. Pero si quieres empezar a ganar dinero en serio es básico tener cuentas en varias casas de apuestas. <strong>Si te estás preguntando el por qué la respuesta es bien fácil, cada casa de apuesta ofrece una cuota distinta</strong> y ya que vas a apostar mejor hacerlo en el sitio que te de más dinero, vamos, digo yo. Por no hablar de los bonos de bienvenida que te darán cada vez que te registres en una casa de apuestas, ¿a quién no le gusta el dinerito gratis para empezar a apostar? Bueno, y muchas más ventajas que puedes <a href="#">descubrir aquí.</a></p>

        <h3>This is (H3)</h3>
        <p>Que sí, que tu visión y tu instinto te ha hecho ganar apuestas imposibles que te han permitido vacilar a tus amigos un tiempo:</p>

        <ol>
          <li>Que sí, que tu visión y tu instinto te ha hecho ganar apuestas imposibles</li>
          <li>Porque apostar en cualquier partido, sin revisar las estadísticas, es como intentar apagar un incendio gasolina, un sinsentido.</li>
          <li>Vale que te encanta el fútbol y te ves tantos partidos que hasta Julio Maldonado estará orgulloso de ti, pero por mucho que veas es imposible que recuerdes todos los datos. </li>
          <li>Que sí, que tu visión y tu instinto te ha hecho ganar apuestas imposibles</li>
        </ol>

        <h3>This is (H3) again</h3>
        <p>Esto debería ser algo tan obligatorio como ducharse cada mañana antes de salir de casa. Porque apostar en cualquier partido, sin revisar las estadísticas, es como intentar apagar un incendio gasolina, un sinsentido. Vale que te encanta el fútbol y te ves tantos partidos que hasta Julio Maldonado estará orgulloso de ti, pero por mucho que veas es imposible que recuerdes todos los datos. Sabemos que a veces no lo haces porque es un coñazo, por eso en Marcadores.com te lo ponemos fácil ofreciéndote los datos que necesitas saber de una manera más clara que las aguas del Caribe. Y si no te lo crees compruébalo tú mismo mirando las estadísticas de uno de los partidos destacados de esta semana.</p>

        <blockquote class="blockquote blockquote-highlight">
          <p>En Marcadores.com te lo ponemos fácil ofreciéndote los datos que necesitas saber de una manera más clara que las aguas del Caribe.</p>
        </blockquote>

        <p>Sí, eso mismo que te decía tu madre cuando eras un niño también te vale para el mundo de las apuestas. Por no decir que si vas de guay contando tus éxitos a tus colegas solo se van a convertir en unos buitres para “sonsacarte” todas tus estrategias. Así que ya sabes, cierra la boca y abre la cartera que el dinero está por llegar.</p>

        <h2>Where does it come from? (H2)</h2>
        <p>No todo son la Liga, la Premier y la Champions. En el mundo hay miles de competiciones y te aseguro que ahí es donde está la pasta gansa. Invierte siempre parte de tu tiempo en investigar nuevas ligas. y competiciones. y empieza a apostar, poco a poco, en ellas.</p>

        <blockquote class="blockquote">
          <p>Cuando les hayas pillado el punto apuesta fuerte y el dinero llegará más pronto que tarde. </p>
        </blockquote>
        <div class="blockquote-details">
          <p><strong>Marti Gif.</strong> Read more about him in <a href="#">this link.</a></p>
        </div>

        <h2>Why do we use it? (H2)</h2>
        <p>No todo son la Liga, la Premier y la Champions. En el mundo hay miles de competiciones y te aseguro que ahí es donde está la pasta gansa. Invierte siempre parte de tu tiempo en investigar nuevas ligas. y competiciones. y empieza a apostar, poco a poco, en ellas.</p>

        <div class="blockquote-alert">
          <p>Si quieres convertirte en un apostador Pro más te vale dejar de fardar de tus hazañas y <strong>centrarte en cómo seguir ganando dinero.</strong></p>
        </div>

        <h2>Las mejores casas de apuestas</h2>
        <ul class="partner-list">
          <li>
            <div class="partner-list__order"><span>#1</span></div>
            <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/william-hill.png" alt="Bookmaker logo"></div>
            <div class="partner-list__info partner-list__info--left">
              <div class="partner-list__bonus-text">Bono de bienvenida</div>
              <div class="partner-list__bonus-value">150€</div>
            </div>
            <div class="partner-list__info partner-list__info--right">
              <a class="partner-list__review-link" href="#">Leer reseña</a>
              <div class="review-stars review-stars--small review-stars--5"></div>
            </div>
            <div class="partner-list__cta-button">
              <a href="#">Apuesta</a>
            </div>
          </li>
          <li>
            <div class="partner-list__order"><span>#2</span></div>
            <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/bet-365.png" alt="Bookmaker logo"></div>
            <div class="partner-list__info partner-list__info--left">
              <div class="partner-list__bonus-text">Transmisión en vivo</div>
              <div class="partner-list__bonus-value"></div>
            </div>
            <div class="partner-list__info partner-list__info--right">
              <a class="partner-list__review-link" href="#">Leer reseña</a>
              <div class="review-stars review-stars--small review-stars--5"></div>
            </div>
            <div class="partner-list__cta-button">
              <a href="#">Apuesta</a>
            </div>
          </li>
          <li>
            <div class="partner-list__order"><span>#3</span></div>
            <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/betway.png" alt="Bookmaker logo"></div>
            <div class="partner-list__info partner-list__info--left">
              <div class="partner-list__bonus-text">Bono de bienvenida</div>
              <div class="partner-list__bonus-value">150€</div>
            </div>
            <div class="partner-list__info partner-list__info--right">
              <a class="partner-list__review-link" href="#">Leer reseña</a>
              <div class="review-stars review-stars--small review-stars--4"></div>
            </div>
            <div class="partner-list__cta-button">
              <a href="#">Apuesta</a>
            </div>
          </li>
          <li>
            <div class="partner-list__order"><span>#3</span></div>
            <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/888.png" alt="Bookmaker logo"></div>
            <div class="partner-list__info partner-list__info--left">
              <div class="partner-list__bonus-text">Bono de bienvenida</div>
              <div class="partner-list__bonus-value">150€</div>
            </div>
            <div class="partner-list__info partner-list__info--right">
              <a class="partner-list__review-link" href="#">Leer reseña</a>
              <div class="review-stars review-stars--small review-stars--4"></div>
            </div>
            <div class="partner-list__cta-button">
              <a href="#">Apuesta</a>
            </div>
          </li>
          <li>
            <div class="partner-list__order"><span>#3</span></div>
            <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/betfair.png" alt="Bookmaker logo"></div>
            <div class="partner-list__info partner-list__info--left">
              <div class="partner-list__bonus-text">Bono de bienvenida</div>
              <div class="partner-list__bonus-value">150€</div>
            </div>
            <div class="partner-list__info partner-list__info--right">
              <a class="partner-list__review-link" href="#">Leer reseña</a>
              <div class="review-stars review-stars--small review-stars--3"></div>
            </div>
            <div class="partner-list__cta-button">
              <a href="#">Apuesta</a>
            </div>
          </li>
          <li>
            <div class="partner-list__order"><span>#3</span></div>
            <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/codere.png" alt="Bookmaker logo"></div>
            <div class="partner-list__info partner-list__info--left">
              <div class="partner-list__bonus-text">Bono de bienvenida</div>
              <div class="partner-list__bonus-value">150€</div>
            </div>
            <div class="partner-list__info partner-list__info--right">
              <a class="partner-list__review-link" href="#">Leer reseña</a>
              <div class="review-stars review-stars--small review-stars--3"></div>
            </div>
            <div class="partner-list__cta-button">
              <a href="#">Apuesta</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
