<div class="panel panel-default">
    <div class="panel-heading">My Teams</div>
    <div class="league-list">
        <div class="heading">
            <img src="{{ basePath }}img/drag-drop-line.png" alt="Drag Drop Line">
            <span>Drag drop teams to reorder</span>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-window-team"><span class="icon glyphicon glyphicon-plus"></span>Add favorite teams</button>
        </div>
        <ul class="sortable-ul">
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ basePath }}img/sprites/psg.png" alt="Psg">
                    </span>
                <span class="name">PSG</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ basePath }}img/sprites/psg.png" alt="Psg">
                    </span>
                <span class="name">Barcelona</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ basePath }}img/sprites/psg.png" alt="Psg">
                    </span>
                <span class="name">Manchester City</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ basePath }}img/sprites/psg.png" alt="Psg">
                    </span>
                <span class="name">Manchester United</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ basePath }}img/sprites/psg.png" alt="Psg">
                    </span>
                <span class="name">Brazil</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ basePath }}img/sprites/psg.png" alt="Psg">
                    </span>
                <span class="name">Real Madrid</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ basePath }}img/sprites/psg.png" alt="Psg">
                    </span>
                <span class="name">Perpignan</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>

        </ul>
    </div>
</div>
