<div class="panel panel-condensed panel-default">
    <div class="panel-heading">
        Favorite Leagues
    </div>
    <ul class="image-list">
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/ligue1.png" alt="Ligue 1"></span></li>
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/ligue2.png" alt="Ligue 2"></span></li>
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/premiereleague.png" alt="Premiere league"></span></li>
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga"></span></li>
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/seriea.png" alt="Serie A"></span></li>
    </ul>
</div>