<div class="panel panel-condensed panel-default">
    <div class="panel-heading">
        Favorite Teams
    </div>
    <ul class="image-list">
        <li><img src="{{ ImageDirPath }}sprites/fr.png" alt="France"></li>
        <li><img src="{{ ImageDirPath }}sprites/manchestercity.png" alt="Manchester City"></li>
        <li><img src="{{ ImageDirPath }}sprites/fr.png" alt="OM"></li>
        <li><img src="{{ ImageDirPath }}sprites/realmadrid.png" alt="Real Madrid"></li>
        <li><img src="{{ ImageDirPath }}sprites/barcelona.png" alt="Barcelona"></li>
        <li><img src="{{ ImageDirPath }}sprites/lyon.png" alt="Lyon"></li>
        <li><img src="{{ ImageDirPath }}sprites/psg.png" alt="PSG"></li>
    </ul>
</div>