<div class="panel panel-condensed panel-default">
    <div class="panel-heading">
        Favorite Teams
    </div>
    <ul class="image-list">
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/fr.png" alt="France"></span></li>
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/manchestercity.png" alt="Manchester City"></span></li>
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/fr.png" alt="OM"></span></li>
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/realmadrid.png" alt="Real Madrid"></span></li>
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></span></li>
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/lyon.png" alt="Lyon"></span></li>
        <li><span class="icon-placeholder"><img src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span></li>
    </ul>
</div>