<div class="panel panel-default">
    <div class="panel-heading">My Leagues</div>
    <div class="league-list">
        <div class="heading">
            <img src="{{ ImageDirPath }}drag-drop-line.png" alt="Drag Drop Line">
            <span>Drag drop leagues to reorder</span>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-window"><span class="icon glyphicon glyphicon-plus"></span>Add favorite leagues</button>
        </div>
        <ul class="sortable-ul">
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ ImageDirPath }}sprites/ligue1.png" alt="Ligue 1">
                    </span>
                <span class="name">League 1</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ ImageDirPath }}sprites/ligue2.png" alt="Ligue 2">
                    </span>
                <span class="name">League 2</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ ImageDirPath }}sprites/premiereleague.png" alt="Premiere league">
                    </span>
                <span class="name">Premier League</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ ImageDirPath }}sprites/bundesliga.png" alt="Bundes Liga">
                    </span>
                <span class="name">Bundesliga</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ ImageDirPath }}sprites/seriea.png" alt="Serie A">
                    </span>
                <span class="name">Serie A</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ ImageDirPath }}sprites/coupedefrance.png" alt="Coupe de France">
                    </span>
                <span class="name">Coupe de France</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ ImageDirPath }}sprites/cdl.png" alt="Cdl">
                    </span>
                <span class="name">CdL</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ ImageDirPath }}sprites/ldc.png" alt="Ldc">
                    </span>
                <span class="name">LdC</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ ImageDirPath }}sprites/eurocoup.png" alt="Europa League">
                    </span>
                <span class="name">Europa League</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
            <li>
                    <span class="sort">
                      <i class="icon glyphicon glyphicon-align-justify"></i>
                    </span>
                    <span class="logo">
                      <img src="{{ ImageDirPath }}sprites/ldc.png" alt="Ldc">
                    </span>
                <span class="name">LdC</span>
                    <span class="fav active">
                      <i class="icon glyphicon glyphicon-star"></i>
                    </span>
            </li>
        </ul>
    </div>
</div>


{% include 'blocks/modals/modal_add_favorites.html.twig' %}