<div class="btn-group profile-tabs">
<a class="btn btn-link btn-xs">All</a>
<a class="btn btn-link btn-xs">Predictions</a>
<a class="btn btn-link btn-xs">Comments</a>
<a class="btn btn-link btn-xs">Mentions</a>
</div>

<ul class="media-list">
    <li class="media">
        <a href="#" class="media-left avatar">
            <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
        </a>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">New Prediction Contest Grids available. Play now!</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                </div>
            </div>
            <a href="#">> Grid nº13</a>
        </div>
    </li>
    <li class="media">
        <a href="#" class="media-left avatar">
            <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
        </a>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">sebastien au.</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                </div>
            </div>
            <p>real meme si jsuis pour le barca</p>
        </div>
    </li>
    <li class="media">
        <a href="#" class="media-left avatar">
            <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
        </a>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">John Smith</span>
                <div class="tools">
                    <span class="date">30 min ago</span>
                </div>
            </div>
            <p><a href="#" class="reply">@sebastien au</a>c la guerre pour les deux</p>
        </div>
    </li>
    <li class="media">
        <a href="#" class="media-left avatar">
            <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
        </a>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">Congratulations !</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                </div>
            </div>
            <p>Finished 3rd in this month contest</p>
            <button type="button" class="btn btn-default">Get my gift</button>
        </div>
    </li>
    <li class="media">
        <a href="#" class="media-left avatar">
            <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
        </a>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">sebastien au</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                </div>
            </div>
            <p>made a predictions on the match PSG - Bastia</p>
            <div class="media match-info">
                <div class="media-body">
                    <span class="date"><a href="#"></a>Ligue 1 - Sam. 16 Aout 2014</span>
                    <img class="team1" src="{{ basePath }}img/sprites/psg.png" alt="PSG">
                    <table class="user-prediction">
                        <tr>
                            <td class="team1">PSG</td>
                            <td class="prediction">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-prediction btn-prediction-result">1</button>
                                    <button type="button" class="btn btn-prediction">X</button>
                                    <button type="button" class="btn btn-prediction btn-prediction-failed">2</button>
                                </div>
                            </td>
                            <td class="team2">Bastia</td>
                        </tr>
                    </table>
                    <img class="team2" src="{{ basePath }}img/sprites/bastia.png" alt="Bastia">
                </div>
            </div>
        </div>
    </li>
    <li class="media">
        <a href="#" class="media-left avatar">
            <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
        </a>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">sebastien au</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                </div>
            </div>
            <p>made a predictions on the match PSG - Bastia</p>
            <div class="media match-info">
                <div class="media-body">
                    <span class="date"><a href="#"></a>Ligue 1 - Sam. 16 Aout 2014</span>
                    <img class="team1" src="{{ basePath }}img/sprites/steaua-bucarest.png" alt="Steaua Bucarest">
                    <table class="user-prediction">
                        <tr>
                            <td class="team1">Steaua Bucarest</td>
                            <td class="prediction">
                                <div class="btn-group btn-group-xs">
                                    <button type="button" class="btn btn-prediction">1</button>
                                    <button type="button" class="btn btn-prediction">X</button>
                                    <button type="button" class="btn btn-prediction btn-prediction-done">2</button>
                                </div>
                            </td>
                            <td class="team2">Razgrad</td>
                        </tr>
                    </table>
                    <img class="team2" src="{{ basePath }}img/sprites/razgrad.png" alt="Razgrad">
                </div>
            </div>
        </div>
    </li>
    <li class="media">
        <a href="#" class="media-left avatar">
            <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
        </a>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">sebastien au.</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                </div>
            </div>
            <p>Result of predictions contest grid nº12</p>
        </div>

        {% include 'blocks/predictions/predictions_contest_grid.html.twig' %}
    </li>
    <li class="media">
        <a href="#" class="media-left avatar">
            <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
        </a>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">New Prediction Contest Grids available. Play now!</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                </div>
            </div>
            <a href="#">> Grid nº12</a>
        </div>
    </li>
    <li class="media">
        <div class="media-left avatar">
            <a href="#">
                <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
            </a>
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-success">1</button>
                <button type="button" class="btn btn-default">N</button>
                <button type="button" class="btn btn-default">2</button>
            </div>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">sebastien au.</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                </div>
            </div>
            <p>real meme si jsuis pour le barca</p>
            <div class="media">
                <div class="media-left avatar">
                    <a href="#">
                        <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
                    </a>
                    <div class="btn-group btn-group-xs">
                        <button type="button" class="btn btn-default">1</button>
                        <button type="button" class="btn btn-prediction btn-prediction-failed">N</button>
                        <button type="button" class="btn btn-default">2</button>
                    </div>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">ramoul</span>
                        <div class="tools">
                            <span class="date"><a href="#"></a>19/05 15h19</span>
                            <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                        </div>
                    </div>
                    <p><a class="reply" href="#">@Andréleboss</a>, Lyon va pas aller en LDC l'année prochaine, surtout avec un 0-0 contre Chernomorets en Ligue Europa. ^^</p>
                </div>
            </div>
            <!-- Nested media object -->

        </div>
    </li>
</ul>
