<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Results / Fixtures Widgets</div>
            </div>
            <table class="table table-striped no-border fixtures-widgets">
                <tbody>
                <tr>
                    <td class="icon"><img src="{{ ImageDirPath }}sprites/icon_calendar.png" alt="Calendar"></td>
                    <td class="content">Calendrier / Résultats, Ligue des Champions...<a href="#" class="edit" data-toggle="tooltip" data-placement="right" data-original-title="Edit name"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td class="button">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span>Edit</button>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                    </td>
                </tr>
                <tr>
                    <td class="icon"><img src="{{ ImageDirPath }}sprites/icon_calendar.png" alt="Calendar"></td>
                    <td class="content">Calendrier / Résultats, Ligue 1, Ligue 2, Ligu...<a href="#" class="edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td class="button">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span>Edit</button>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                    </td>
                </tr>
                <tr>
                    <td class="icon"><img src="{{ ImageDirPath }}sprites/icon_calendar.png" alt="Calendar"></td>
                    <td class="content">
                        <input type="text" value="Calendrier / Résultats, Ligue des Champions..." class="form-control">
                        <button type="button" class="btn btn-primary">Save</button>
                        <button class="btn btn-default">Cancel</button>
                    </td>
                    <td class="button">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span>Edit</button>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                    </td>
                </tr>
                <tr>
                    <td class="icon"><img src="{{ ImageDirPath }}sprites/icon_calendar.png" alt="Calendar"></td>
                    <td class="content">Calendrier / Résultats, Ligue 1, Ligue des Cha...<a href="#" class="edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td class="button">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span>Edit</button>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                    </td>
                </tr>
                <tr>
                    <td class="icon"><img src="{{ ImageDirPath }}sprites/icon_calendar.png" alt="Calendar"></td>
                    <td class="content">Calendrier / Résultats, Ligue 1, Ligue 2<a href="#" class="edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td class="button">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span>Edit</button>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                    </td>
                </tr>
                <tr>
                    <td class="icon"><img src="{{ ImageDirPath }}sprites/icon_calendar.png" alt="Calendar"></td>
                    <td class="content">Calendrier / Résultats, Ligue 2<a href="#" class="edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td class="button">
                        <button class="btn btn-default"><span class="glyphicon glyphicon-cog"></span>Edit</button>
                        <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Standings Widgets</div>
            </div>
            <table class="table table-striped no-border standings-widgets">
                <tbody>
                <tr>
                    <td class="icon"><img src="{{ ImageDirPath }}sprites/icon_standings.png" alt="Standings"></td>
                    <td class="content"><span>No Standings widget created</span></td>
                    <td class="button">
                        <button type="button" class="btn btn-primary"><span class="icon glyphicon glyphicon-plus"></span> Create new</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Livescore Widgets</div>
            </div>
            <table class="table table-striped no-border livescore-widgets">
                <tbody>
                <tr>
                    <td class="icon"><img src="{{ ImageDirPath }}sprites/icon_live.png" alt="Live"></td>
                    <td class="content"><span>No Standings widget created</span></td>
                    <td class="button">
                        <button type="button" class="btn btn-primary"><span class="icon glyphicon glyphicon-plus"></span> Create new</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">My Team nex matches Widgets</div>
            </div>
            <table class="table table-striped no-border matches-widgets">
                <tbody>
                <tr>
                    <td class="icon"><img src="{{ ImageDirPath }}sprites/icon_score.png" alt="Score"></td>
                    <td class="content"><span class="empty">No Standings widget created</span></td>
                    <td class="button">
                        <button type="button" class="btn btn-primary"><span class="icon glyphicon glyphicon-plus"></span> Create new</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>