<ol class="breadcrumb">
    <li><a href="#">Foot en direct</a></li>
    <li><a href="#">France</a></li>
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>PSG <span class="icon-caret-down"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Ajaccio</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Bastia	</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Bordeaux</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Evian</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Guingamp</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Lille</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Lorient</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Lyon</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Monaco</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Montpellier</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Nantes</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Nice</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>OM</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>PSG</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Reims</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Rennes</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Sochaux</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>St Etienne</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Toulouse</a></li>
            <li><a href="#"><span class="icon-placeholder"><img class="team" src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>Valenciennes</a></li>
        </ul>
    </li>
    <li class="active">Summary</li>
</ol>



