<ol class="breadcrumb">
    <li><a href="#">Foot en direct</a></li>
    <li><a href="#">France</a></li>
    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">PSG <span class="icon-caret-down"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Ajaccio</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Bastia	</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Bordeaux</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Evian</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Guingamp</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Lille</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Lorient</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Lyon</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Monaco</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Montpellier</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Nantes</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Nice</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">OM</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">PSG</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Reims</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Rennes</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Sochaux</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">St Etienne</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Toulouse</a></li>
            <li><a href="#"><img class="team" src="{{ ImageDirPath }}sprites/psg.png" alt="PSG">Valenciennes</a></li>
        </ul>
    </li>
    <li class="active">Summary</li>
</ol>