<footer class="footer">
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-xs-9 left-column">
                    <span class="title">Top competitions football</span>
                    <div class="row">
                        <div class="col-xs-4">
                            <span><img src="{{ basePath }}img/sprites/worldcup.png" alt="World Cup">Coupe du Monde</span>
                            <ul>
                                <li><a href="#">Foot en direct Coupe du Monde</a></li>
                                <li><a href="#">Résultat Coupe du Monde</a></li>
                                <li><a href="#">Calendrier Coupe du Monde</a></li>
                                <li><a href="#">Classement Coupe du Monde</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span><img src="{{ basePath }}img/sprites/ligue1.png" alt="Ligue 1">Ligue1</span>
                            <ul>
                                <li><a href="#">Foot en direct Ligue 1</a></li>
                                <li><a href="#">Résultat Liguel 1</a></li>
                                <li><a href="#">Calendrier Ligue 1</a></li>
                                <li><a href="#">Classement Ligue 1</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">Ligue des Champions</span>
                            <ul>
                                <li><a href="#">Foot en direct Ligue des Champions</a></li>
                                <li><a href="#">Résultat Ligue des Champions</a></li>
                                <li><a href="#">Calendrier Ligue des Champions</a></li>
                                <li><a href="#">Classement Ligue des Champions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <span><img src="{{ basePath }}img/sprites/premiereleague.png" alt="Premiere league">Premier League</span>
                            <ul>
                                <li><a href="#">Foot en direct Premier League</a></li>
                                <li><a href="#">Résultat Premier League</a></li>
                                <li><a href="#">Calendrier Premier League</a></li>
                                <li><a href="#">Classement Premier League</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span><img src="{{ basePath }}img/sprites/cup2.png" alt="Cup">Liga</span>
                            <ul>
                                <li><a href="#">Foot en direct Liga</a></li>
                                <li><a href="#">Résultat Liga</a></li>
                                <li><a href="#">Calendrier Liga</a></li>
                                <li><a href="#">Classement Liga</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span><img src="{{ basePath }}img/sprites/seriea.png" alt="Serie A">Serie A</span>
                            <ul>
                                <li><a href="#">Foot en direct Serie A</a></li>
                                <li><a href="#">Résultat Serie A</a></li>
                                <li><a href="#">Calendrier Serie A</a></li>
                                <li><a href="#">Classement Serie A</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="title">Résultats foot par pays</span>
                            <ul>
                                <li><a href="#">Résultats Foot Français</a></li>
                                <li><a href="#">Résultats Foot Anglais</a></li>
                                <li><a href="#">Résultats Foot Espagnol</a></li>
                                <li><a href="#">Résultats Foot Italien</a></li>
                                <li><a href="#">Résultats Foot Allemand</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span class="title">Résultats foot par equipes</span>
                            <ul>
                                <li><a href="#">Equipe OM</a></li>
                                <li><a href="#">Equipe Real Madrid</a></li>
                                <li><a href="#">Equipe Barcelone</a></li>
                                <li><a href="#">Equipe PSG</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span class="title">Principaux matchs à venir:</span>
                            <ul>
                                <li><a href="#">Foot en direct Allemangne Portugal</a></li>
                                <li><a href="#">Foot en direct Suisse France</a></li>
                                <li><a href="#">Foot en direct Equiateur France</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 right-column">
                    <img src="{{ basePath }}img/ls-logo-white.png" alt="Site Logo">
                    <p>Fusce sagittis eget purus vel hendrerit. Morbi fermentum semper risus. Phasellus vel efficitur dolor. Quisque vel lorem accumsan, ornare velit eget, ultricies lacus, um sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
                    <div class="app-links">
                        <img src="{{ basePath }}img/app-store.png" alt="AppStore">
                        <img src="{{ basePath }}img/play-store.png" alt="PlayStore">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Utilisation</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Livescore gratuit</a></li>
                <li><a href="#">Recrutement</a></li>
            </ul>
            <svg class="ls-svg" version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="300.000000pt" height="300.000000pt" viewBox="0 0 300.000000 300.000000"
             preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,300.000000) scale(0.100000,-0.100000)"
                fill="#000000" stroke="none">
                <path class="ls-svg-bg" d="M0 1500 l0 -1500 1500 0 1500 0 0 1500 0 1500 -1500 0 -1500 0 0
                -1500z m1625 1476 c213 -13 487 -110 680 -239 379 -254 624 -675 653 -1119 18
                -275 -31 -525 -150 -763 -148 -295 -368 -515 -663 -662 -238 -120 -487 -169
                -762 -151 -587 38 -1108 445 -1292 1008 -61 188 -83 363 -69 568 29 444 274
                865 653 1119 140 94 351 182 525 219 77 16 261 32 315 27 17 -1 66 -4 110 -7z"/>
                <path class="ls-svg-text" d="M1961 2465 c-260 -57 -421 -275 -383 -521 19 -122 80 -217 194 -300
                l49 -36 -48 -33 c-123 -83 -220 -204 -262 -326 -28 -81 -38 -208 -21 -280 43
                -184 190 -327 386 -376 50 -12 110 -17 214 -16 125 0 156 3 227 25 158 48 274
                146 342 288 33 69 36 83 39 185 3 92 1 120 -17 173 -47 138 -140 238 -311 331
                l-51 28 76 58 c99 75 147 132 193 224 36 73 37 77 37 190 0 110 -2 119 -30
                169 -59 107 -177 189 -313 218 -84 17 -237 17 -321 -1z m273 -215 c63 -24 127
                -87 146 -145 35 -107 -36 -258 -173 -364 l-57 -43 -86 53 c-204 129 -275 234
                -239 356 20 68 87 130 164 154 54 16 188 10 245 -11z m-107 -847 c238 -145
                303 -218 303 -349 0 -165 -155 -284 -359 -272 -218 13 -354 177 -320 390 15
                98 49 157 140 242 44 42 83 76 86 76 3 0 70 -39 150 -87z"/>
                <path class="ls-svg-text" d="M823 2427 l-233 -20 0 -89 0 -88 140 0 140 0 0 -805 0 -805 135 0
                135 0 0 915 0 915 -42 -1 c-24 -1 -148 -11 -275 -22z"/>
                <path class="ls-svg-text" d="M82 1378 l3 -103 270 0 270 0 3 103 3 102 -276 0 -276 0 3 -102z"/>
                </g>
            </svg>
        </div>
    </div>
</footer>