<footer class="footer">
    <div class="container">
        <div class="top-footer">
            <div class="row">
                <div class="col-xs-9 left-column">
                    <span class="title">Top competitions football</span>
                    <div class="row">
                        <div class="col-xs-4">
                            <span><div class="icon-placeholder"><img src="{{ basePath }}img/sprites/worldcup.png" alt="World Cup"></div>Coupe du Monde</span>
                            <ul>
                                <li><a href="#">Foot en direct Coupe du Monde</a></li>
                                <li><a href="#">Résultat Coupe du Monde</a></li>
                                <li><a href="#">Calendrier Coupe du Monde</a></li>
                                <li><a href="#">Classement Coupe du Monde</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span><div class="icon-placeholder"><img src="{{ basePath }}img/sprites/ligue1.png" alt="Ligue 1"></div>Ligue1</span>
                            <ul>
                                <li><a href="#">Foot en direct Ligue 1</a></li>
                                <li><a href="#">Résultat Liguel 1</a></li>
                                <li><a href="#">Calendrier Ligue 1</a></li>
                                <li><a href="#">Classement Ligue 1</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span><div class="icon-placeholder"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc"></div>Ligue des Champions</span>
                            <ul>
                                <li><a href="#">Foot en direct Ligue des Champions</a></li>
                                <li><a href="#">Résultat Ligue des Champions</a></li>
                                <li><a href="#">Calendrier Ligue des Champions</a></li>
                                <li><a href="#">Classement Ligue des Champions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <span><div class="icon-placeholder"><img src="{{ basePath }}img/sprites/premiereleague.png" alt="Premiere league"></div>Premier League</span>
                            <ul>
                                <li><a href="#">Foot en direct Premier League</a></li>
                                <li><a href="#">Résultat Premier League</a></li>
                                <li><a href="#">Calendrier Premier League</a></li>
                                <li><a href="#">Classement Premier League</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span><div class="icon-placeholder"><img src="{{ basePath }}img/sprites/cup2.png" alt="Cup"></div>Liga</span>
                            <ul>
                                <li><a href="#">Foot en direct Liga</a></li>
                                <li><a href="#">Résultat Liga</a></li>
                                <li><a href="#">Calendrier Liga</a></li>
                                <li><a href="#">Classement Liga</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span><div class="icon-placeholder"><img src="{{ basePath }}img/sprites/seriea.png" alt="Serie A"></div>Serie A</span>
                            <ul>
                                <li><a href="#">Foot en direct Serie A</a></li>
                                <li><a href="#">Résultat Serie A</a></li>
                                <li><a href="#">Calendrier Serie A</a></li>
                                <li><a href="#">Classement Serie A</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="title">Résultats foot par pays</span>
                            <ul>
                                <li><a href="#">Résultats Foot Français</a></li>
                                <li><a href="#">Résultats Foot Anglais</a></li>
                                <li><a href="#">Résultats Foot Espagnol</a></li>
                                <li><a href="#">Résultats Foot Italien</a></li>
                                <li><a href="#">Résultats Foot Allemand</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span class="title">Résultats foot par equipes</span>
                            <ul>
                                <li><a href="#">Equipe OM</a></li>
                                <li><a href="#">Equipe Real Madrid</a></li>
                                <li><a href="#">Equipe Barcelone</a></li>
                                <li><a href="#">Equipe PSG</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <span class="title">Principaux matchs à venir:</span>
                            <ul>
                                <li><a href="#">Foot en direct Allemangne Portugal</a></li>
                                <li><a href="#">Foot en direct Suisse France</a></li>
                                <li><a href="#">Foot en direct Equiateur France</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3 right-column">
                    <img src="{{ basePath }}img/ls-logo-white.png" alt="Site Logo">
                    <p>Fusce sagittis eget purus vel hendrerit. Morbi fermentum semper risus. Phasellus vel efficitur dolor. Quisque vel lorem accumsan, ornare velit eget, ultricies lacus, um sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus.</p>
                    <div class="app-links">
                        <img src="{{ basePath }}img/app-store.png" alt="AppStore">
                        <img src="{{ basePath }}img/play-store.png" alt="PlayStore">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Utilisation</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Livescore gratuit</a></li>
                <li><a href="#">Recrutement</a></li>
            </ul>
        </div>
    </div>
</footer>