<ul class="sidebar-nav">
    <li>
        <a href="#"><i class="icon icon-football"></i>All Matches</a>
        <!-- <a href="javascript:;" class="pull-right calendar-button btn-datepicker-open" data-position="right-top"><input type="hidden" name="dp"><span class="icon-calendar"></span></a> -->
    </li>
    <li>
        <a href="#" class="live-red uppercase"><i class="icon-ellipse"></i>Live Now<span class="badge live pull-right">12</span></a>
    </li>
    <li>
        <a href="#" ><i class="icon-bell"></i>My Games<span class="badge live pull-right">3</span></a>
    </li>
    <li class="active open">
        <a class="dropdown-toggle"><i class="glyphicon glyphicon-star"></i>My Leagues</a>
        <a href="#" class="option-icon"><span class="icon glyphicon glyphicon-cog right"></span></a>
        <ul class="sub-menu sortable-ul">
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/ligue1.png" alt="Ligue 1"></span>Ligue 1 <span class="live-red">(6)</span><span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/ligue2.png" alt="Ligue 2"></span>Ligue 2<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/premiereleague.png" alt="Premiere league"></span>Premiere League<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga"></span>Bundesliga <span class="live-red">(3)</span><span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/seriea.png" alt="Serie A"></span>Serie A<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/coupedefrance.png" alt="Coupe de France"></span>Coupe de France<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/cdl.png" alt="Cdl"></span>CdL<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc"></span>LdC<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/eurocoup.png" alt="Europa League"></span>Europa League<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/worldcup.png" alt="World Cup"></span>World Cup<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable no-link"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/worldcup.png" alt="World Cup"></span>(not linked)<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li class="more"><a href="#"><i class="dark-icon icon-expand"></i>View all</a></li>
            <li class="more"><a href="#"><i class="glyphicon glyphicon-plus"></i>Click here to add competitions</a></li>
        </ul>
    </li>
    <li class="active open">
        <a class="dropdown-toggle"><i class="glyphicon glyphicon-star"></i>My Teams</a>
        <a href="#" class="option-icon"><span class="icon glyphicon glyphicon-cog right"></span></a>
        <ul class="sub-menu sortable-ul">
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/fr.png" alt="France"></span>France<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/manchestercity.png" alt="Manchester City"></span>Manchester City<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/fr.png" alt="OM"></span>OM<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/realmadrid.png" alt="Real Madrid"></span>Real Madrid<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></span>Barcelona<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/lyon.png" alt="Lyon"></span>Lyon<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li><a href="#" class="sortable"><span class="sort"><i class="glyphicon glyphicon-align-justify"></i></span><span class="img"><img src="{{ basePath }}img/sprites/psg.png" alt="PSG"></span>PSG<span class="close"><i class="glyphicon glyphicon-remove"></i></span></a></li>
            <li class="more"><a href="#"><i class="dark-icon icon-expand"></i>View all</a></li>
            <li class="more"><a href="#"><i class="glyphicon glyphicon-plus"></i>Click here to add teams</a></li>
        </ul>
    </li>
    <li class="open">
        <a class="dropdown-toggle"><i class="glyphicon glyphicon-globe"></i>Top Countries</a>
        <ul class="sub-menu">
            <li><a href="#" class="dropdown-toggle"><span class="country-flag fr"></span>France</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="country-flag _england"></span>England</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="country-flag es"></span>Spain</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="country-flag it"></span>Italy</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="country-flag de"></span>Germany</a></li>
        </ul>
    </li>
    <li class="open">
        <a class="dropdown-toggle"><i class="glyphicon glyphicon-globe"></i>Country</a>
        <ul class="sub-menu second-menu">
            <li><a href="#" class="dropdown-toggle"><span class="country-flag _united_nations"></span>International</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="country-flag za"></span>South Africa</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="country-flag al"></span>Albania</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="country-flag ag"></span>Algeria</a></li>
            <li class="open">
                <a class="dropdown-toggle"><span class="country-flag de"></span>Germany</a>
                <ul class="sub-menu third-menu">
                    <li><a href="#">All</a></li>
                    <li><a href="#">Bundesliga <span class="fav active"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Super Coupe <span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Bundesliga 2 <span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li class="open">
                        <a class="dropdown-toggle">CFA</a>
                        <ul class="sub-menu fourth-menu">
                            <li><a href="#">All</a></li>
                            <li><a href="#">CFA Group A<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                            <li><a href="#">CFA Group B<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                            <li><a href="#">CFA Group C<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                            <li><a href="#">CFA Group D<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                        </ul>
                    </li>
                    <li><a href="#">Bundesliga 3<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Regionalliga<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Coupe de la Lig.<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Oberliga<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">DfB-Pokal<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                    <li><a href="#">Barrages<span class="fav"><i class="glyphicon glyphicon-star"></i></span></a></li>
                </ul>
            </li>
            <li><a href="#" class="dropdown-toggle"><span class="country-flag ad"></span>Andorra</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="country-flag _england"></span>England</a></li>
            <li><a href="#" class="dropdown-toggle"><span class="country-flag ao"></span>Angola</a></li>
            <li class="more"><a href="#"><i class="dark-icon icon-expand"></i>View all</a></li>
        </ul>
    </li>
    <li><a href="#">+ View more</a></li>
</ul>