<ul class="media-list">
    <li class="media">
        <div class="media-left avatar avatar-user">
            <a href="#">
                <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
            </a>
            <div class="btn-group btn-group-xs prediction-locked">
                <button class="btn btn-prediction" type="button">1</button>
                <button class="btn btn-prediction-done" type="button">N</button>
                <button class="btn btn-prediction" type="button">2</button>
            </div>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">Reboul</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                    <a href="#modal-report"><span class="glyphicon glyphicon-flag" data-toggle="modal" data-target="#modal-report"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
            </div>
            <p>Victoire du Real car l'atletico a deja reussi sa saison en étant champion !</p>
            <!-- Nested media object -->
        </div>
    </li>
    <li class="media">
        <div class="media-left avatar avatar-user">
            <a href="#">
                <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
            </a>
            <div class="btn-group btn-group-xs prediction-closed">
                <button class="btn btn-success" type="button">1</button>
                <button class="btn btn-prediction" type="button">N</button>
                <button class="btn btn-prediction" type="button">2</button>
            </div>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">sebastien.au</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                    <a href="#"><span class="glyphicon glyphicon-pencil"  data-toggle="tooltip" data-placement="top" data-container="body" title="Edit"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-flag" data-toggle="tooltip" data-placement="top" data-container="body" title="Report"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-share-alt" data-toggle="tooltip" data-placement="top" data-container="body" title="Reply"></span></a>
                </div>
            </div>
            <p>real meme si jsuis pour le barca</p>
            <!-- Nested media object -->
        </div>
    </li>
    <li class="media">
        <div class="media-left avatar avatar-user">
            <a href="#">
                <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
            </a>
            <div class="btn-group btn-group-xs prediction-closed">
                <button class="btn btn-prediction-success" type="button">1</button>
                <button class="btn btn-prediction" type="button">N</button>
                <button class="btn btn-prediction" type="button">2</button>
            </div>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">sebastien.au</span>
            </div>
            <form class="message-edit">
                <div class="form-group">
                    <textarea class="form-control" rows="2" placeholder="Textarea">real meme si jsuis pour le barca</textarea>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Publish</button>
                </div>
            </form>
            <!-- Nested media object -->
        </div>
    </li>
    <li class="media">
        <div class="media-left avatar avatar-user">
            <a href="#">
                <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
            </a>
            <div class="btn-group btn-group-xs prediction-closed">
                <button class="btn btn-prediction-result" type="button">1</button>
                <button class="btn btn-prediction" type="button">N</button>
                <button class="btn btn-prediction-failed" type="button">2</button>
            </div>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">riadh sbai</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                    <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
            </div>
            <p>c la guerre pour les deux</p>
            <!-- Nested media object -->
        </div>
    </li>
    <li class="media">
        <a href="#" class="media-left avatar avatar-user">
            <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
        </a>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">ramoul</span>
                <div class="tools">
                    <span class="date">30 min ago</span>
                    <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
            </div>
            <p>real 1-0 atletico</p>
            <!-- Nested media object -->
        </div>
    </li>
    <li class="media">
        <div class="media-left avatar avatar-user">
            <a href="#">
                <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
            </a>
            <div class="btn-group btn-group-xs prediction-closed">
                <button class="btn btn-prediction-success" type="button">1</button>
                <button class="btn btn-prediction" type="button">N</button>
                <button class="btn btn-prediction" type="button">2</button>
            </div>
        </div>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">Andréleboss</span>
                <div class="tools">
                    <span class="date">19/05 15h19</span>
                    <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
            </div>
            <p>Moi j'y croi poru lyon a la 3eme place du poduim vu que St etienne a fais match nul contre rennes il faut juste que lyon gagne le match contre toulouse et que lille perde contre l'OM apres il reste que 3 poins d'ecart! En plus lille contre psg a l'avant dernier journées</p>
            <!-- Nested media object -->
            <div class="media">
                <div class="media-left avatar avatar-user">
                    <a href="#">
                        <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
                    </a>
                    <div class="btn-group btn-group-xs prediction-closed">
                        <button type="button" class="btn btn-prediction">1</button>
                        <button type="button" class="btn btn-prediction-failed">N</button>
                        <button type="button" class="btn btn-prediction">2</button>
                    </div>
                </div>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">ramoul</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                            <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                        </div>
                    </div>
                    <p><a class="reply" href="#">@Andréleboss</a>, Lyon va pas aller en LDC l'année prochaine, surtout avec un 0-0 contre Chernomorets en Ligue Europa. ^^</p>
                </div>
            </div>
            <div class="media">
                <a href="#" class="media-left avatar avatar-user">
                    <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
                </a>
                <div class="media-body">
                    <div class="media-heading">
                        <span class="name">PSG365</span>
                        <div class="tools">
                            <span class="date">19/05 15h19</span>
                            <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                        </div>
                    </div>
                    <p><a class="reply" href="#">@Andréleboss</a>, Lyon va pas aller en LDC l'année prochaine, surtout avec un 0-0 contre Chernomorets en Ligue Europa. ^^</p>
                </div>
            </div>
        </div>
    </li>
    <li class="media">
        <a href="#" class="media-left avatar avatar-user">
            <img class="img-circle" alt="64x64" src="{{ basePath }}img/user-default.png">
        </a>
        <div class="media-body">
            <div class="media-heading">
                <span class="name">Raboul</span>
                <div class="tools">
                    <span class="date">30 min ago</span>
                    <a href="#"><span class="glyphicon glyphicon-flag"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
            </div>
            <p>Victoire du Real car l'atletico a deja reussi sa saison en étant champion!</p>
            <!-- Nested media object -->
        </div>
    </li>
    <li class="media view-all text-center"><a href="#">+ View all 56 comments</a>
    </li>
</ul>