<div class="panel panel-default panel-condensed player-comparison">
		<div class="panel-heading">
				Player comparison
		</div>
		<div class="panel-content">
				<div class="player-comparison-row">
						<div class="player-comparison-vs-block">
								<div class="player-team-logo player-team-logo--left"><img src="{{ basePath }}img/team-logos/barca_2x.png" alt="Barcelona"></div>
								<div class="player-name player-name--left">Lionel <span>Messi</span></div>
								<div class="vs">VS</div>
								<div class="player-name player-name--right">Cristiano <span>Ronaldo</span></div>
								<div class="player-team-logo player-team-logo--right"><img src="{{ basePath }}img/team-logos/real_madrid_2x.png" alt="Real Madrid"></div>
						</div>
						<div class="player-comparison-vs-summary">
							<div class="player-comparison-summary">
								<span class="value">3wc</span>
								<span class="divider"></span>
								<span class="value">1Gfl</span>		
							</div>
							<div class="player-comparison-summary">
								<span class="value">3wc</span>
								<span class="divider"></span>
								<span class="value">1Gfl</span>		
							</div>
						</div>
				</div>
				<div class="player-comparison-row">
						<div class="player-comparison-vs-block">
								<div class="player-team-logo player-team-logo--left"><img src="{{ basePath }}img/team-logos/real_madrid_2x.png" alt="Real Madrid"></div>
								<div class="player-name player-name--left">Gareth <span>Bale</span></div>
								<div class="vs">VS</div>
								<div class="player-name player-name--right">Luis <span>Suárez</span></div>
								<div class="player-team-logo player-team-logo--right"><img src="{{ basePath }}img/team-logos/barca_2x.png" alt="Real Madrid"></div>
						</div>
						<div class="player-comparison-vs-summary">
							<div class="player-comparison-summary">
								<span class="value">3wc</span>
								<span class="divider"></span>
								<span class="value">1Gfl</span>		
							</div>
							<div class="player-comparison-summary">
								<span class="value">3wc</span>
								<span class="divider"></span>
								<span class="value">1Gfl</span>		
							</div>
						</div>
				</div>
				<div class="player-comparison-row">
						<div class="player-comparison-vs-block">
								<div class="player-team-logo player-team-logo--left"><img src="{{ basePath }}img/team-logos/barca_2x.png" alt="Barcelona"></div>
								<div class="player-name player-name--left">Lionel <span>Messi</span></div>
								<div class="vs">VS</div>
								<div class="player-name player-name--right">Cristiano <span>Ronaldo</span></div>
								<div class="player-team-logo player-team-logo--right"><img src="{{ basePath }}img/team-logos/real_madrid_2x.png" alt="Real Madrid"></div>
						</div>
						<div class="player-comparison-vs-summary">
							<div class="player-comparison-summary">
								<span class="value">3wc</span>
								<span class="divider"></span>
								<span class="value">1Gfl</span>		
							</div>
							<div class="player-comparison-summary">
								<span class="value">3wc</span>
								<span class="divider"></span>
								<span class="value">1Gfl</span>		
							</div>
						</div>
				</div>
				<div class="player-comparison-selector">
					<div class="player-comparison-selector-label">Choose</div>
					<div class="player-comparison-selector-player dropdown">
						<a href="#" data-toggle="dropdown">Lionel Messi</a>
						<ul class="dropdown-menu player-comparison-selector-dropdown">
	            <li class="menu-title">Choose Player</li>
	            <li><a href="#"><span>Andrés Iniesta</span><img src="{{ basePath }}img/sprites/barcelona.png" alt="team name"></a></li>
	            <li><a href="#"><span>Neymar Jr</span><img src="{{ basePath }}img/sprites/psg.png" alt="team name"></a></li>
	            <li><a href="#"><span>Luis Suárez</span><img src="{{ basePath }}img/sprites/psg.png" alt="team name"></a></li>
	            <li><a href="#"><span>Robert Lewandowski</span><img src="{{ basePath }}img/sprites/fc_bayern.png" alt="team name"></a></li>
	          </ul>
					</div>
					<div class="player-comparison-selector-vs">vs</div>
					<div class="player-comparison-selector-player dropdown">
						<a href="#" data-toggle="dropdown">Cristiano Ron...</a>
						<ul class="dropdown-menu player-comparison-selector-dropdown">
	            <li class="menu-title">Choose Player</li>
	            <li><a href="#"><span>Andrés Iniesta</span><img src="{{ basePath }}img/sprites/barcelona.png" alt="team name"></a></li>
	            <li><a href="#"><span>Neymar Jr</span><img src="{{ basePath }}img/sprites/psg.png" alt="team name"></a></li>
	            <li><a href="#"><span>Luis Suárez</span><img src="{{ basePath }}img/sprites/psg.png" alt="team name"></a></li>
	            <li><a href="#"><span>Robert Lewandowski</span><img src="{{ basePath }}img/sprites/fc_bayern.png" alt="team name"></a></li>
	          </ul>
					</div>	
				</div>
		</div>
</div>
