<div class="panel panel-default panel-condensed top-match-block">
    <div class="panel-heading">
        Upcoming Top Games
    </div>
    <ul class="nav nav-pills nav-justified">
        <li class="active">
            <a href="#" class="top-match">
                <div class="shields">
                    <img src="{{ basePath }}img/team-logos/packers.png" alt="Team 1"><img src="{{ basePath }}img/team-logos/seahawks.png" alt="Team 2">
                </div>
                <div class="teams">Smc - Nim</div>
            </a>
        </li>
        <li>
            <a href="#" class="top-match">
                <div class="shields">
                    <img src="{{ basePath }}img/team-logos/giants.png" alt="Team 3"><img src="{{ basePath }}img/team-logos/raiders.png" alt="Team 4">
                </div>
                <div class="teams">Sev - Ven</div>
            </a>
        </li>
        <li>
            <a href="#" class="top-match">
                <div class="shields">
                    <img src="{{ basePath }}img/team-logos/jaguars.png" alt="Barcelona"><img src="{{ basePath }}img/team-logos/cardinals.png" alt="Team 5">
                </div>
                <div class="teams">Bar - Ama</div>
            </a>
        </li>
    </ul>
    <div class="panel-content">
{#        <a href="#" class="score-board score-board-clear">
            <div class="title">NFL</div>
            <div class="match-date">Thursday June 24th</div>
            <div class="teams">Nimes - PSG</div>
            <div class="team team1"><img src="{{ basePath }}img/team-logos/packers.png" alt="Team 2"></div>
            <div class="team team2"><img src="{{ basePath }}img/team-logos/seahawks.png" alt="PSG"></div>
            <div class="match-time"><span>20h30</span></div>
        </a>

        <a href="#" class="score-board live">
            <div class="title">LdC - Group 1 - J2</div>
            <div class="match-date">28 Juin 2014</div>
            <div class="teams">Nimes - PSG</div>
            <div class="team team1"><img src="{{ basePath }}img/sprites/team2.png" alt="Team 2"></div>
            <div class="team team2"><img src="{{ basePath }}img/sprites/psg.png" alt="PSG"></div>
            <div class="match-info">
                <div class="block">
                    <div class="score">
                        <span class="home-score">2</span>
                        <span class="versus">-</span>
                        <span class="away-score">1</span>
                    </div>
                    <div class="time">
                        <span class="live-spot"></span>43'
                    </div>
                </div>
            </div>
        </a>#}

        <a href="#" class="score-board score-board-clear score-board-variant-1">
            <div class="title">NFL</div>
            <div class="match-date">Thursday June 24th</div>
            <div class="teams">Packers <span class="at">@</span> Seahawks</div>
            <div class="team team1"><img src="{{ basePath }}img/team-logos/packers.png" alt="Team 2"></div>
            <div class="team team2"><img src="{{ basePath }}img/team-logos/seahawks.png" alt="PSG"></div>
            <div class="match-time"><span>8:30pm ET</span></div>
        </a>

        <table class="table bets table-condensed">
            <colgroup>
                <col class="full-sportsbook-logo">
                <col class="odd-2-lines">
                <col class="odd-type">
                <col class="odd-2-lines">
                <col class="full-sportsbook-logo">
            </colgroup>
            <tr>
                <th colspan="5" class="text-center">Best Odds</th>
            </tr>
            <tr class="odds">
                <td class="full-sportsbook-logo"><img src="{{ basePath }}img/sportsbooks-logos/sportsbook.png" alt="Bet1"></td>
                <td class="odd odd-no-border text-right"><span class="odd-value">-175</span></td>
                <td class="odd-type">Moneyline</td>
                <td class="odd odd-no-border"><span class="odd-value">+165</span></td>
                <td class="full-sportsbook-logo"><img src="{{ basePath }}img/sportsbooks-logos/5dimes.png" alt="Bet1"></td>
            </tr>
            <tr class="odds">
                <td class="full-sportsbook-logo"><img src="{{ basePath }}img/sportsbooks-logos/bovada.png" alt="Bet1"></td>
                <td class="odd odd-no-border text-right"><span class="odd-part">+3.5</span> <span class="odd-value">-175</span></td>
                <td class="odd-type">Spread</td>
                <td class="odd odd-no-border"><span class="odd-part">+3.5</span> <span class="odd-value">-175</span></td>
                <td class="full-sportsbook-logo"><img src="{{ basePath }}img/sportsbooks-logos/betonline.png" alt="Bet1"></td>
            </tr>
            <tr class="odds">
                <td class="full-sportsbook-logo"><img src="{{ basePath }}img/sportsbooks-logos/5dimes.png" alt="Bet1"></td>
                <td class="odd odd-no-border text-right"><span class="odd-part">62 o</span> <span class="odd-value">-105</span></td>
                <td class="odd-type">Total</td>
                <td class="odd odd-no-border"><span class="odd-part">62 u</span><span class="odd-value"> -105</span></td>
                <td class="full-sportsbook-logo"><img src="{{ basePath }}img/sportsbooks-logos/bovada.png" alt="Bet1"></td>
            </tr>
        </table>
    </div>
    <div class="panel-footer">
        <a href="#"><span class="icon-caret-right"></span>View all odds</a>
    </div>
</div>