<!--START LAYOUT-18 ( CONTENT + BACKGROUND-IMAGE ) -->
<tr>
    <td align="center" valign="top" class="container" style="background-color: rgb(244, 243, 243);">
        <!-- start container -->
        <table width="600" align="center" border="0" cellspacing="0" cellpadding="0" class="container" style="min-width: 600px; -webkit-background-size: cover; padding-left: 20px; padding-right: 20px; background-image: url({{ basePath }}img/emails/{{ image_block_18_2 }}); background-color: rgb(255, 255, 255); background-size: cover; background-position: 50% 100% !important; background-repeat: no-repeat !important;">
            <!-- start space -->
            <tr>
                <td valign="top" height="60" >
                </td>
            </tr>
            <!-- end space -->
            <!-- start content container-->
            <tr>
                <td valign="top">
                    <table width="560" border="0" cellspacing="0" cellpadding="0" align="center" class="full-width">
                        <tr>
                            <td valign="top">
                                <!-- start content -->
                                <table align="center" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">

                                    <!-- end space -->
                                    <tr>
                                        <td align="center" style="font-size: 26px; line-height: 28px; color: rgb(51, 51, 51); font-weight: 300; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;" >
															<span style="text-decoration: none; color: #333333; font-weight:300;">
																<a href="#" style="color: rgb(51, 51, 51); text-decoration: none;">{{ mailContent.block_18_2_title }}</a>
															</span>
                                        </td>
                                    </tr>
                                    <!-- start space -->
                                    <tr>
                                        <td valign="top" height="10">
                                        </td>
                                    </tr>
                                    <!-- end space -->
                                    <tr>
                                        <td align="center" style="font-size: 14px; line-height: 24px; color: rgb(51, 51, 51); font-weight: 300; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;" >
                                            {{ mailContent.block_18_2_message }}
                                        </td>
                                    </tr>
                                    <!-- start space -->
                                    <tr>
                                        <td valign="top" height="40" >
                                        </td>
                                    </tr>
                                    <!-- end space -->
                                    <tr  dup="0">
                                        <td valign="top">
                                            <!-- start button -->
                                            <table width="auto" border="0" align="center" cellpadding="0" cellspacing="0" class="full-width" style="margin:0 auto;">
                                                <tr>
                                                    <td valign="top" style="padding:5px;">
                                                        <table width="auto" border="0" align="center" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td width="auto" align="center" valign="middle" height="50" style="border-radius: 3px; font-size: 18px; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; text-align: center; color: rgb(255, 255, 255); font-weight: 300; padding-left: 40px; padding-right: 40px; word-break: break-word; background-color:#5da400; background-clip: padding-box;" >
																					<span style="color: #ffffff; font-weight: 300;">
																						<a href="#" style="color: rgb(255, 255, 255); font-weight: 300; text-decoration: none;">
                                                                                            {{ mailContent.block_18_2_button }}
                                                                                        </a>
																					</span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <!-- end button -->
                                        </td>
                                    </tr>
                                    <!-- start space -->
                                    <tr>
                                        <td valign="top" height="30">
                                        </td>
                                    </tr>
                                    <!-- end space -->
                                    <tr>
                                        <td align="center" style="font-size: 14px; line-height: 24px; color: rgb(51, 51, 51); font-weight: 300; text-align: center; font-family: Roboto, 'Open Sans', Arail, Tahoma, Helvetica, Arial, sans-serif; word-break: break-word;" >
                                            <a style="color: #0053a8" href="{{ mailContent.block_18_2_link }}">{{ mailContent.block_18_2_link }}</a>
                                        </td>
                                    </tr>
                                </table>
                                <!-- end content -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- end content container-->
            <!-- start space -->
            <tr>
                <td valign="top" height="60" >
                </td>
            </tr>
            <!-- end space -->
        </table>
        <!-- end container -->
    </td>
</tr>
<!--END LAYOUT-18 ( CONTENT + BACKGROUND-IMAGE ) -->