<ul class="partner-list{% if small %} partner-list--small{% endif %}">
  <li>
    <div class="partner-list__order"><span>#1</span></div>
    <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/william-hill.png" alt="Bookmaker logo"></div>
    <div class="partner-list__container">
      <div class="partner-list__info partner-list__info--left">
        <div class="partner-list__bonus-text">Bono de bienvenida</div>
        <div class="partner-list__bonus-value">150€</div>
      </div>
      <div class="partner-list__info partner-list__info--right">
        <a class="partner-list__review-link" href="#">Leer reseña</a>
        <div class="review-stars review-stars--small review-stars--5"></div>
      </div>
    </div>
    <div class="partner-list__cta-button">
      <a href="#">Apuesta</a>
    </div>
  </li>
  <li>
    <div class="partner-list__order"><span>#2</span></div>
    <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/bet-365.png" alt="Bookmaker logo"></div>
    <div class="partner-list__container">
      <div class="partner-list__info partner-list__info--left">
        <div class="partner-list__bonus-text">Transmisión en vivo</div>
        <div class="partner-list__bonus-value"></div>
      </div>
      <div class="partner-list__info partner-list__info--right">
        <a class="partner-list__review-link" href="#">Leer reseña</a>
        <div class="review-stars review-stars--small review-stars--5"></div>
      </div>
    </div>
    <div class="partner-list__cta-button">
      <a href="#">Apuesta</a>
    </div>
  </li>
  <li>
    <div class="partner-list__order"><span>#3</span></div>
    <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/betway.png" alt="Bookmaker logo"></div>
    <div class="partner-list__container">
      <div class="partner-list__info partner-list__info--left">
        <div class="partner-list__bonus-text">Bono de bienvenida</div>
        <div class="partner-list__bonus-value">150€</div>
      </div>
      <div class="partner-list__info partner-list__info--right">
        <a class="partner-list__review-link" href="#">Leer reseña</a>
        <div class="review-stars review-stars--small review-stars--5"></div>
      </div>
    </div>
    <div class="partner-list__cta-button">
      <a href="#">Apuesta</a>
    </div>
  </li>
  <li>
    <div class="partner-list__order"><span>#3</span></div>
    <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/888.png" alt="Bookmaker logo"></div>
    <div class="partner-list__container">
      <div class="partner-list__info partner-list__info--left">
        <div class="partner-list__bonus-text">Bono de bienvenida</div>
        <div class="partner-list__bonus-value">150€</div>
      </div>
      <div class="partner-list__info partner-list__info--right">
        <a class="partner-list__review-link" href="#">Leer reseña</a>
        <div class="review-stars review-stars--small review-stars--5"></div>
      </div>
    </div>
    <div class="partner-list__cta-button">
      <a href="#">Apuesta</a>
    </div>
  </li>
  <li>
    <div class="partner-list__order"><span>#3</span></div>
    <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/betfair.png" alt="Bookmaker logo"></div>
    <div class="partner-list__container">
      <div class="partner-list__info partner-list__info--left">
        <div class="partner-list__bonus-text">Bono de bienvenida</div>
        <div class="partner-list__bonus-value">150€</div>
      </div>
      <div class="partner-list__info partner-list__info--right">
        <a class="partner-list__review-link" href="#">Leer reseña</a>
        <div class="review-stars review-stars--small review-stars--5"></div>
      </div>
    </div>
    <div class="partner-list__cta-button">
      <a href="#">Apuesta</a>
    </div>
  </li>
  <li>
    <div class="partner-list__order"><span>#3</span></div>
    <div class="partner-list__logo"><img src="{{ basePath }}img/sprites/bookmakers/codere.png" alt="Bookmaker logo"></div>
    <div class="partner-list__container">
      <div class="partner-list__info partner-list__info--left">
        <div class="partner-list__bonus-text">Bono de bienvenida</div>
        <div class="partner-list__bonus-value">150€</div>
      </div>
      <div class="partner-list__info partner-list__info--right">
        <a class="partner-list__review-link" href="#">Leer reseña</a>
        <div class="review-stars review-stars--small review-stars--5"></div>
      </div>
    </div>
    <div class="partner-list__cta-button">
      <a href="#">Apuesta</a>
    </div>
  </li>
</ul>
