{% extends "layouts/3_columns.html.twig" %}

{% block container_main %}
    {% include 'blocks/commons/breadcrumb.html.twig' %}
{% endblock %}

{% block content %}
    {% include 'blocks/sports/listings/match_listing_all_columns.html.twig' %}

    <h3>Match listing (general)</h3>
    {{ include('blocks/sports/listings/match_listing_general.html.twig', {in_panel:'true', noHeader:'true'}) }}
    {{ include('blocks/elements/match_listing_buttons.html.twig', {type: 'odds'}) }}
    {% include 'blocks/sports/listings/match_listing_general_odds.html.twig' %}
    {{ include('blocks/elements/match_listing_buttons.html.twig', {type: 'predictions'}) }}
    {% include 'blocks/sports/listings/match_listing_general_predictions.html.twig' %}

    <h3>Match listing (by competition)</h3>
    <div class="row"><div class="col-md-12">{% include 'blocks/sports/listings/match_listing_by_competition.html.twig' %}</div></div>

    <h3>Match listing (by participant)</h3>
    <div class="row"><div class="col-md-12">{% include 'blocks/sports/listings/match_listing_by_team.html.twig' %}</div></div>

    <h3>Match listing (by player)</h3>
    <div class="row"><div class="col-md-12">{% include 'blocks/sports/listings/match_listing_by_player.html.twig' %}</div></div>

    <h3>Predictions Listing</h3>
    {% include 'blocks/predictions/predictions_contest_grid.html.twig' %}
    {% include 'blocks/predictions/predictions_last_predictions.html.twig' %}

    <h3>Head to Head</h3>
    {% include 'blocks/sports/match/team_head2head.html.twig' %}

    <h3>Team Forms</h3>
    <div class="row">
        <div class="col-md-6">{% include 'blocks/sports/team/team_form.html.twig' %}</div>
        <div class="col-md-6">{% include 'blocks/sports/team/team_form.html.twig' %}</div>
    </div>

    <h3>Competition Standing</h3>
    <div class="row"><div class="col-md-12">
            {{ include('blocks/sports/competition/competition_standing.html.twig', {withForm: 'true'}) }}
        </div></div>
    <div class="row"><div class="col-md-12">{% include 'blocks/sports/competition/competition_standing.html.twig' %}</div></div>
    <div class="row"><div class="col-md-12">{% include 'blocks/sports/competition/competition_standing_groups.html.twig' %}</div></div>
    {% include 'blocks/sports/listings/match_listing_A_R.html.twig' %}
    {% include 'blocks/streaming/next_matches_streaming_list.html.twig' %}



{% endblock %}

{% block content_right %}
    {% include 'blocks/sports/listings/match_listing_sidebar.html.twig' %}
    {{ include('blocks/sports/competition/competition_standing.html.twig', {small: 'true'}) }}
{% endblock %}