<div class="panel panel-no-border">
    <div class="content-header teams">
        <div class="avatar">
            <img src="{{ basePath }}img/sprites/psg.png" alt="PSG">
        </div>
        <div class="info">
            <div class="title">
                <span>Psg</span>
                <a href="#"><span class="glyphicon glyphicon-star"></span></a>
            </div>
            <a href="#" class="uppercase additionnal-info"><span class="country-flag fr"></span>France</a>
            <button type="button" class="btn btn-xs btn-link dropdown-toggle"><span>2013 / 2014</span><span class="icon-caret-down"></span></button>
        </div>
        <div class="shirts">
            <a href="#" class="shirt">
                <img src="{{ basePath }}img/sprites/shirt1.png" alt="Shirt">
                Domicile
            </a>
            <a href="#" class="shirt">
                <img src="{{ basePath }}img/sprites/shirt2.png" alt="Shirt">
                Exterieur
            </a>
            <a href="#" class="shirt">
                <img src="{{ basePath }}img/sprites/shirt3.png" alt="Shirt">
                Third
            </a>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            {{ include('blocks/elements/page_tabs.html.twig', {type: 'team', tab: selectedTab }) }}
        </div>
    </div>

</div>