
<div class="panel panel-default">
    <div class="panel-heading">
        PSG Squad
    </div>
    <table class="table squad-listing avatars">
        <thead>
        <tr>
            <th>Num</th>
            <th>Player</th>
            <th><span class="sprite-icons shirt"></span></th>
            <th><span class="sprite-icons clock"></span></th>
            <th><span class="sprite-icons football"></span></th>
            <th><span class="sprite-icons yellow-card"></span></th>
            <th><span class="sprite-icons red-card"></span></th>
            <th>Nationality</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th colspan="11">Goalkeepers</th>
        </tr>
        <tr>
            <td class="number">1</td>
            <td class="player"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player">Nicolas <b>Douchez</b></td>
            <td>4</td>
            <td>360</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag fr"></span>FRA</td>
            <td>34</td>
            <td>185</td>
            <td>77</td>
        </tr>
        <tr>
            <td class="number">30</td>
            <td class="player"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player">Salvatore <b>Sirigu</b></td>
            <td>33</td>
            <td>2927</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag it"></span>ITA</td>
            <td>27</td>
            <td>192</td>
            <td>80</td>
        </tr>
        <tr>
            <td class="number">16</td>
            <td class="player"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player">Mike <b>Maignan</b></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td class="nationality"><span class="country-flag fr"></span>FRA</td>
            <td>18</td>
            <td>187</td>
            <td>80</td>
        </tr>
        <tr>
            <td class="number">-</td>
            <td class="player"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player">Mory <b>Diaw</b></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td class="nationality"><span class="country-flag fr"></span>FRA</td>
            <td>20</td>
            <td>197</td>
            <td>95</td>
        </tr>
        <tr>
            <th colspan="11">Defenders</th>
        </tr>
        <tr>
            <td class="number">6</td>
            <td class="player"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player">Zoumana <b>Camara</b></td>
            <td>6</td>
            <td>422</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag fr"></span>FRA</td>
            <td>35</td>
            <td>182</td>
            <td>76</td>
        </tr>
        <tr>
            <td class="number">26</td>
            <td class="player"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player">Christope <b>Jallet</b></td>
            <td>27</td>
            <td>1884</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag fr"></span>FRA</td>
            <td>30</td>
            <td>178</td>
            <td>65</td>
        </tr>
        <tr>
            <td class="number">17</td>
            <td class="player"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player">Maxwell</td>
            <td>33</td>
            <td>2935</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag br"></span>BRA</td>
            <td>32</td>
            <td>177</td>
            <td>81</td>
        </tr>
        <tr>
            <td class="number">2</td>
            <td class="player"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player">Thiago <b>Silva</b></td>
            <td>22</td>
            <td>1947</td>
            <td>0</td>
            <td>2</td>
            <td>1</td>
            <td class="nationality"><span class="country-flag br"></span>BRA</td>
            <td>29</td>
            <td>183</td>
            <td>72</td>
        </tr>
        <tr>
            <td class="number">23</td>
            <td class="player"><img src="{{ basePath }}img/player-default.png" class="img-circle" alt="Player">Greogory <b>van der Wiel</b></td>
            <td>22</td>
            <td>1554</td>
            <td>1</td>
            <td>7</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag nl"></span>NET</td>
            <td>26</td>
            <td>181</td>
            <td>69</td>
        </tr>
        </tbody>
    </table>
</div>


{#
Version with NO player picture (table condensed)
<div class="panel panel-default">
    <div class="panel-heading">
        PSG Squad
    </div>
    <table class="table table-condensed table-striped no-border squad-listing">
        <thead>
        <tr>
            <th>Num</th>
            <th>Player</th>
            <th><span class="sprite-icons shirt"></span></th>
            <th><span class="sprite-icons clock"></span></th>
            <th><span class="sprite-icons football"></span></th>
            <th><span class="sprite-icons yellow-card"></span></th>
            <th><span class="sprite-icons red-card"></span></th>
            <th>Nationality</th>
            <th>Age</th>
            <th>Height</th>
            <th>Weight</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th colspan="11">Goalkeepers</th>
        </tr>
        <tr>
            <td class="number">1</td>
            <td class="player">Nicolas <b>Douchez</b></td>
            <td>4</td>
            <td>360</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag fr"></span>FRA</td>
            <td>34</td>
            <td>185</td>
            <td>77</td>
        </tr>
        <tr>
            <td class="number">30</td>
            <td class="player">Salvatore <b>Sirigu</b></td>
            <td>33</td>
            <td>2927</td>
            <td>0</td>
            <td>2</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag it"></span>ITA</td>
            <td>27</td>
            <td>192</td>
            <td>80</td>
        </tr>
        <tr>
            <td class="number">16</td>
            <td class="player">Mike <b>Maignan</b></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td class="nationality"><span class="country-flag fr"></span>FRA</td>
            <td>18</td>
            <td>187</td>
            <td>80</td>
        </tr>
        <tr>
            <td class="number"></td>
            <td class="player">Mory <b>Diaw</b></td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td class="nationality"><span class="country-flag fr"></span>FRA</td>
            <td>20</td>
            <td>197</td>
            <td>95</td>
        </tr>
        <tr>
            <th colspan="11">Defenders</th>
        </tr>
        <tr>
            <td class="number">6</td>
            <td class="player">Zoumana <b>Camara</b></td>
            <td>6</td>
            <td>422</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag fr"></span>FRA</td>
            <td>35</td>
            <td>182</td>
            <td>76</td>
        </tr>
        <tr>
            <td class="number">26</td>
            <td class="player">Christope <b>Jallet</b></td>
            <td>27</td>
            <td>1884</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag fr"></span>FRA</td>
            <td>30</td>
            <td>178</td>
            <td>65</td>
        </tr>
        <tr>
            <td class="number">17</td>
            <td class="player">Maxwell</td>
            <td>33</td>
            <td>2935</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag br"></span>BRA</td>
            <td>32</td>
            <td>177</td>
            <td>81</td>
        </tr>
        <tr>
            <td class="number">2</td>
            <td class="player">Thiago <b>Silva</b></td>
            <td>22</td>
            <td>1947</td>
            <td>0</td>
            <td>2</td>
            <td>1</td>
            <td class="nationality"><span class="country-flag br"></span>BRA</td>
            <td>29</td>
            <td>183</td>
            <td>72</td>
        </tr>
        <tr>
            <td class="number">23</td>
            <td class="player">Greogory <b>van der Wiel</b></td>
            <td>22</td>
            <td>1554</td>
            <td>1</td>
            <td>7</td>
            <td>0</td>
            <td class="nationality"><span class="country-flag nl"></span>NET</td>
            <td>26</td>
            <td>181</td>
            <td>69</td>
        </tr>
        </tbody>
    </table>
</div>#}
