<div class="panel panel-default team-form">
    <div class="panel-heading">
        Real Madrid Form
        <div class="tools">
            <img class="team-logo" alt="Real" src="{{ basePath }}img/sprites/realmadrid.png">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 navigation">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default">All</a>
                <a class="btn btn-default">Home</a>
                <a class="btn btn-primary active">Away</a>
                <a class="btn btn-default">Next</a>
            </div>
        </div>
    </div>
    <div class="panel-content">
        <div class="teams">
            <table class="circles">
                <tr>
                    <td class="circle-info"><div class="team first"><div class="circle success"><span>4</span></div></div></td>
                    <td class="circle-info"><div class="team third"><div class="circle gray3"><span>1</span></div></div></td>
                    <td class="circle-info"><div class="team fourth"><div class="circle danger"><span>0</span></div></div></td>
                </tr>
                <tr>
                    <td class="title"><span class="win">WIN</span></td>
                    <td class="title"><span class="draw">DRAW</span></td>
                    <td class="title"><span class="lost">LOST</span></td>
                </tr>
            </table>
        </div>
        <table class="table matches table-condensed table-striped no-border layout-fixed">
            <colgroup>
                <col class="event-outcome">
                <col class="date">
                <col class="league-logo">
                <col class="team">
                <col class="score">
                <col class="team">
            </colgroup>
            <tbody>

            <tr class="event-draw">
                <td class="event-outcome event-outcome-draw"><a href="#">D</a></td>
                <td class="date">21h00</td>
                <td class="league"><img src="{{ basePath }}img/sprites/cup2.png" alt="Cup"></td>
                <td class="team team1"><a href="#">Sevilla</a></td>
                <td class="score"><a href="#">0 - 0</a></td>
                <td class="team team2"><a href="#">Villa</a></td>
            </tr>
            <tr class="event-won">
                <td class="event-outcome event-outcome-won"><a href="#">W</a></td>
                <td class="date">21h00</td>
                <td class="league"><img src="{{ basePath }}img/sprites/eurocoup.png" alt="Europa League"></td>
                <td class="team team1 win"><a href="#">Sevilla</a></td>
                <td class="score"><a href="#">2 - 0</a></td>
                <td class="team team2"><a href="#">Valencienne</a></td>
            </tr>
            <tr class="event-won">
                <td class="event-outcome event-outcome-won"><a href="#">W</a></td>
                <td class="date">21h00</td>
                <td class="league"><img src="{{ basePath }}img/sprites/cup2.png" alt="Cup"></td>
                <td class="team team1 win"><a href="#">Sevilla</a></td>
                <td class="score"><a href="#">4 - 0</a></td>
                <td class="team team2"><a href="#">Granada</a></td>
            </tr>
            <tr class="event-won">
                <td class="event-outcome event-outcome-won"><a href="#">W</a></td>
                <td class="date">21h00</td>
                <td class="league"><img src="{{ basePath }}img/sprites/eurocoup.png" alt="Europa League"></td>
                <td class="team team1 win"><a href="#">Sevilla</a></td>
                <td class="score"><a href="#">4 - 1</a></td>
                <td class="team team2"><a href="#">Porto</a></td>
            </tr>
            <tr class="event-won">
                <td class="event-outcome event-outcome-won"><a href="#">W</a></td>
                <td class="date">21h00</td>
                <td class="league"><img src="{{ basePath }}img/sprites/cup2.png" alt="Cup"></td>
                <td class="team team1 win"><a href="#">Sevilla</a></td>
                <td class="score"><a href="#">4 - 1</a></td>
                <td class="team team2"><a href="#">Espanya</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <a href="#"><span class="icon-caret-right"></span>Team profile</a>
    </div>
</div>