{% extends 'blocks/base.html.twig' %}

{% set panel_classes = 'panel-default match-tips' %}
{% block panel_heading %}
    <div class="panel-title">Betting Tips</div>

{% endblock %}

{% block widget_content %}
    <div class="panel-body match-tips">
        <ul class="media-list">
            <li class="media">
                <div class="tip-container">
                    <a class="avatar player-image" href="#">
                        <img src="{{ basePath }}img/user-default.png" alt="64x64" class="img-circle">
                    </a>
                    <div class="media-body">
                        <p><b>Ryad Boudebouz</b> a donné le plus de passes décisives pour <b>Bastia</b> avec 5. <b>Issa Cissokho</b> est le meilleur passeur de <b>Nantes</b> (4).</p>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="tip-container">
                    <a class="avatar" href="#">
                        <img src="{{ basePath }}img/sprites/team7.png" alt="Team Logo">
                    </a>
                    <div class="media-body">
                        <p>Saviez-vous que <b>Nantes</b> marque 35% de leurs buts entre les minutes 76-90?</p>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="tip-container">
                    <a class="avatar" href="#">
                        <img src="{{ basePath }}img/sprites/team6.png" alt="Team Logo">
                    </a>
                    <div class="media-body">
                        <p>Saviez-vous que <b>Bastia</b> marque 31% de leurs buts entre les minutes 76-90?</p>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="tip-container">
                    <a class="avatar" href="#">
                        <img src="{{ basePath }}img/sprites/team7.png" alt="Team Logo">
                    </a>
                    <div class="media-body">
                        <p><b>Nantes</b> n'a pas marqué dans 8 de leurs 18 matches à l'extérieur en Ligue 1 cette saison.</p>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="tip-container">
                    <a class="avatar" href="#">
                        <img src="{{ basePath }}img/sprites/team6.png" alt="Team Logo">
                    </a>
                    <div class="media-body">
                        <p>Lors des dernières 31 rencontres, <b>Bastia</b> a gagné 11 fois, il ya eu 9 nuls et <b>Nantes</b> a gagné 11 fois. La différence de buts est de 38-37 en faveur de <b>Nantes</b>.</p>
                    </div>
                </div>
            </li>
            <li class="media">
                <div class="tip-container">
                    <a class="avatar" href="#">
                        <img src="{{ basePath }}img/sprites/team6.png" alt="Team Logo">
                    </a>
                    <div class="media-body">
                        <p><b>Bastia</b> n'a pas marqué dans 5 de leurs 18 matches à domicile en Ligue 1 cette saison.</p>
                    </div>
                </div>
            </li>
        </ul>
        <a class="view-more text-center" href="#"><span class="icon"><i class="icon-expand"></i></span>View More</a>
        <div class="make-bet clearfix">
            <img src="{{ basePath }}img/sprites/williamhill.png" class="bet-logo" alt="William Hill"><p>Use those betting tips to bet on line with William Hill ! <br><a href="#">£20 Welcome Bonus</a></p>
            <a class="btn btn-primary" href="#">Bet Now !</a>
        </div>
    </div>
{% endblock %}