<div class="panel panel-default">
    <div class="panel-heading">
        1X2 Odds
    </div>
    <table class="table table-condensed odds-1x2">
        <thead>
        <tr>
            <th colspan="2">bookmaker</th>
            <th class="text-center">1</th>
            <th class="text-center">x</th>
            <th class="text-center">2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets1.png" alt="Bet1">
            </td>
            <td class="name"><b>Betclic</b></td>
            <td class="odd result">
                <span class="icon-arrow-down"></span><span class="odd-value">1.75</span>
            </td>
            <td class="odd result">
                <span class="icon-arrow-up"></span><span class="odd-value">3.50</span>
            </td>
            <td class="odd result">
                <span class="icon-equal"></span><span class="odd-value">3.80</span>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets2.png" alt="Bet1">
            </td>
            <td class="name"><b>PMU</b></td>
            <td class="odd result best-odd">
                <span class="icon-arrow-down"></span><span class="odd-value">1.64</span>
            </td>
            <td class="odd result">
                <span class="icon-arrow-up"></span><span class="odd-value">3.45</span>
            </td>
            <td class="odd result">
                <span class="icon-equal"></span><span class="odd-value">3.60</span>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets3.png" alt="Bet1">
            </td>
            <td class="name"><b>Netbet</b></td>
            <td class="odd result">
                <span class="icon-arrow-down"></span><span class="odd-value">1.75</span>
            </td>
            <td class="odd result best-odd">
                <span class="icon-arrow-up"></span><span class="odd-value">3.50</span>
            </td>
            <td class="odd result best-odd">
                <span class="icon-equal"></span><span class="odd-value">3.70</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        1X2 Odds Version 2
    </div>
    <table class="table table-condensed odds-1x2 odds-1x2-v2">
        <thead>
        <tr>
            <th class="bookmaker">Casa de Apuestas</th>
            <th class="text-center result">1</th>
            <th class="text-center result result--draw">x</th>
            <th class="text-center result">2</th>
            <th class="text-center bonus">¡Canjea tu bono!</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/bet-365.png" alt="Bet1">
            </td>
            <td class="odd result">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result best-odd">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw best-odd">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/betway.png" alt="Bet1">
            </td>
            <td class="odd result">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/codere.png" alt="Bet1">
            </td>
            <td class="odd result best-odd">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/betfair.png" alt="Bet1">
            </td>
            <td class="odd result">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/william-hill.png" alt="Bet1">
            </td>
            <td class="odd result">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/888.png" alt="Bet1">
            </td>
            <td class="odd result">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p class="text-center text-primary text-semi-bold mb-2">Descubre las <a href="#">mejores casas de apuestas deportivas</a>.</p>
<div class="panel panel-default">
    <div class="panel-heading">
        1X2 Odds Version 2
    </div>
    <table class="table table-condensed odds-1x2 odds-1x2-v2">
        <thead>
        <tr>
            <th class="bookmaker">Casa de Apuestas</th>
            <th class="text-center result">1</th>
            <th class="text-center result result--draw">x</th>
            <th class="text-center result">2</th>
            <th class="text-center bonus">¡Canjea tu bono!</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/bet-365.png" alt="Bet1">
            </td>
            <td class="odd result event-won">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result event-lost">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw event-lost">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/betway.png" alt="Bet1">
            </td>
            <td class="odd result event-won">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result event-lost">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw event-lost">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/codere.png" alt="Bet1">
            </td>
            <td class="odd result event-won">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result event-lost">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw event-lost">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/betfair.png" alt="Bet1">
            </td>
            <td class="odd result event-won">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result event-lost">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw event-lost">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/william-hill.png" alt="Bet1">
            </td>
            <td class="odd result event-won">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result event-lost">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw event-lost">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/888.png" alt="Bet1">
            </td>
            <td class="odd result event-won">
              <span class="odd-value">1.75</span>
            </td>
            <td class="odd result event-lost">
              <span class="odd-value">3.50</span>
            </td>
            <td class="odd result result--draw event-lost">
              <span class="odd-value">3.80</span>
            </td>
            <td class="bonus">
              <a href="#" class="bonus-text">100€</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        1X2 Odds
    </div>
    <table class="table table-condensed odds-1x2">
        <thead>
        <tr>
            <th colspan="2">bookmaker</th>
            <th class="text-center color-success">1</th>
            <th class="text-center">x</th>
            <th class="text-center">2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets1.png" alt="Bet1">
            </td>
            <td class="name"><b>Betclic</b></td>
            <td class="event-won result">
                <span class="icon-arrow-down"></span><span class="odd-value">1.75</span>
            </td>
            <td class="event-lost result">
                <span class="icon-arrow-up"></span><span class="odd-value">3.50</span>
            </td>
            <td class="event-lost result">
                <span class="icon-equal"></span><span class="odd-value">3.80</span>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets2.png" alt="Bet1">
            </td>
            <td class="name"><b>PMU</b></td>
            <td class="event-won result best-odd">
                <span class="icon-arrow-down"></span><span class="odd-value">1.64</span>
            </td>
            <td class="event-lost result">
                <span class="icon-arrow-up"></span><span class="odd-value">3.45</span>
            </td>
            <td class="event-lost result">
                <span class="icon-equal"></span><span class="odd-value">3.60</span>
            </td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets3.png" alt="Bet1">
            </td>
            <td class="name"><b>Netbet</b></td>
            <td class="event-won result">
                <span class="icon-arrow-down"></span><span class="odd-value">1.75</span>
            </td>
            <td class="event-lost result best-odd">
                <span class="icon-arrow-up"></span><span class="odd-value">3.50</span>
            </td>
            <td class="event-lost result best-odd">
                <span class="icon-equal"></span><span class="odd-value">3.70</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Over Under Odd
    </div>
    <table class="table table-condensed odds-over-under">
        <tbody>
        <tr>
            <th><b>1,5 Goal(s)</b></th>
            <th class="text-center">Over</th>
            <th class="text-center">Under</th>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/bet-365.png" alt="Bet1">
            </td>
            <td class="event-lost result"><span class="odd-value">3.50</span></td>
            <td class="event-won result"><span class="odd-value">3.80</span></td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/betway.png" alt="Bet1">
            </td>
            <td class="event-lost result"><span class="odd-value">3.45</span></td>
            <td class="event-won result"><span class="odd-value">3.60</span></td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/codere.png" alt="Bet1">
            </td>
            <td class="event-lost result best-odd"><span class="odd-value">3.50</span></td>
            <td class="event-won result best-odd"><span class="odd-value">3.70</span></td>
        </tr>
        <tr>
            <th><b>2,5 Goal(s)</b></th>
            <th class="text-center">Over</th>
            <th class="text-center">Under</th>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/betfair.png" alt="Bet1">
            </td>
            <td class="result"><span class="odd-value">3.50</span></td>
            <td class="result"><span class="odd-value">3.80</span></td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/william-hill.png" alt="Bet1">
            </td>
            <td class="result"><span class="odd-value">3.45</span></td>
            <td class="result"><span class="odd-value">3.60</span></td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/888.png" alt="Bet1">
            </td>
            <td class="result best-odd"><span class="odd-value">3.50</span></td>
            <td class="result best-odd"><span class="odd-value">3.70</span></td>
        </tr>
        <tr>
            <th><b>3,5 Goal(s)</b></th>
            <th class="text-center">Over</th>
            <th class="text-center">Under</th>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/bet-365.png" alt="Bet1">
            </td>
            <td class="event-lost result"><span class="odd-value">3.50</span></td>
            <td class="event-won result"><span class="odd-value">3.80</span></td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/betway.png" alt="Bet1">
            </td>
            <td class="event-lost result"><span class="odd-value">3.45</span></td>
            <td class="event-won result"><span class="odd-value">3.60</span></td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bookmakers/codere.png" alt="Bet1">
            </td>
            <td class="event-lost result best-odd"><span class="odd-value">3.50</span></td>
            <td class="event-won result best-odd"><span class="odd-value">3.70</span></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Double Chance Odds
    </div>
    <table class="table table-condensed odds-double-chance">
        <thead>
        <tr>
            <th colspan="2">bookmaker</th>
            <th class="text-center color-success">1X</th>
            <th class="text-center">X2</th>
            <th class="text-center">X2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets1.png" alt="Bet1">
            </td>
            <td class="name"><b>Betclic</b></td>
            <td class="event-won result"><span class="odd-value">1.75</span></td>
            <td class="event-lost result"><span class="odd-value">3.50</span></td>
            <td class="event-lost result"><span class="odd-value">3.80</span></td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets2.png" alt="Bet1">
            </td>
            <td class="name"><b>PMU</b></td>
            <td class="event-won result best-odd"><span class="odd-value">1.64</span></td>
            <td class="event-lost result"><span class="odd-value">3.45</span></td>
            <td class="event-lost result"><span class="odd-value">3.60</span></td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets3.png" alt="Bet1">
            </td>
            <td class="name"><b>Netbet</b></td>
            <td class="event-won result"><span class="odd-value"> - </span></td>
            <td class="event-lost result"><span class="odd-value"> - </span></td>
            <td class="event-lost result"><span class="odd-value"> - </span></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Half time Full time Odds
    </div>
    <table class="table table-condensed odds-half-time-full-time">
        <thead>
        <tr>
            <th colspan="2">bookmaker</th>
            <th class="text-center color-success">1/1</th>
            <th class="text-center">1/X</th>
            <th class="text-center">1/2</th>
            <th class="text-center">X/1</th>
            <th class="text-center">X/X</th>
            <th class="text-center">X/2</th>
            <th class="text-center">2/1</th>
            <th class="text-center">2/X</th>
            <th class="text-center">2/2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets1.png" alt="Bet1">
            </td>
            <td class="name"><b>Betclic</b></td>
            <td class="event-won result"><span class="odd-value">1.75</span></td>
            <td class="event-lost result"><span class="odd-value">1.75</span></td>
            <td class="event-lost result"><span class="odd-value">1.75</span></td>
            <td class="event-lost result"><span class="odd-value">1.75</span></td>
            <td class="event-lost result"><span class="odd-value">1.75</span></td>
            <td class="event-lost result"><span class="odd-value">1.75</span></td>
            <td class="event-lost result"><span class="odd-value">1.75</span></td>
            <td class="event-lost result"><span class="odd-value">1.75</span></td>
            <td class="event-lost result"><span class="odd-value">1.75</span></td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets2.png" alt="Bet1">
            </td>
            <td class="name"><b>PMU</b></td>
            <td class="event-won result best-odd"><span class="odd-value">1.64</span></td>
            <td class="event-lost result best-odd"><span class="odd-value">1.64</span></td>
            <td class="event-lost result best-odd"><span class="odd-value">1.64</span></td>
            <td class="event-lost result best-odd"><span class="odd-value">1.64</span></td>
            <td class="event-lost result best-odd"><span class="odd-value">1.64</span></td>
            <td class="event-lost result best-odd"><span class="odd-value">1.64</span></td>
            <td class="event-lost result best-odd"><span class="odd-value">1.64</span></td>
            <td class="event-lost result best-odd"><span class="odd-value">1.64</span></td>
            <td class="event-lost result best-odd"><span class="odd-value">1.64</span></td>
        </tr>
        <tr>
            <td class="logo">
                <img src="{{ basePath }}img/sprites/bets3.png" alt="Bet1">
            </td>
            <td class="name"><b>Netbet</b></td>
            <td class="event-won result"><span class="odd-value"> - </span></td>
            <td class="event-lost result"><span class="odd-value"> - </span></td>
            <td class="event-lost result"><span class="odd-value"> - </span></td>
            <td class="event-lost result"><span class="odd-value"> - </span></td>
            <td class="event-lost result"><span class="odd-value"> - </span></td>
            <td class="event-lost result"><span class="odd-value"> - </span></td>
            <td class="event-lost result"><span class="odd-value"> - </span></td>
            <td class="event-lost result"><span class="odd-value"> - </span></td>
            <td class="event-lost result"><span class="odd-value"> - </span></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default offer-simple">
    <div class="panel-body content">
        <p><img alt="Real" src="{{ basePath }}img/sprites/pmu_logo.png">
            Pariez sans risque sur ce match avec <b>200€ offerts</b></p>
    </div>
    <div class="button">
        <button type="button" class="btn btn-primary">+ d'infos</button>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Correct Score Odds
        <div class="tools"><i>Best odds displayed: click on the value to see details</i></div>
    </div>
    <table class="table table-condensed odds-correct-score">
        <thead>
        <tr>
            <th class="text-center">1</th>
            <th class="text-center">X</th>
            <th class="text-center">2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="event-lost result"><b>1 - 0</b><i class="icon-expand"></i><a href="#">9.50</a></td>
            <td class="event-lost result"><b>1 - 0</b><i class="icon-expand"></i><a href="#">9.50</a></td>
            <td class="event-lost result"><b>1 - 0</b><i class="icon-expand"></i><a href="#">9.50</a></td>
        </tr>
        <tr>
            <td class="event-lost result"><b>2 - 0</b><i class="icon-expand"></i><a href="#">8.50</a></td>
            <td class="event-lost result"><b>2 - 0</b><i class="icon-expand"></i><a href="#">8.50</a></td>
            <td class="event-lost result"><b>2 - 0</b><i class="icon-expand"></i><a href="#">8.50</a></td>
        </tr>
        <tr>
            <td class="event-won result table-toggle"><b>2 - 1</b><i class="icon-expand"></i><a href="#">8.00</a>
                <div class="table-slide">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets1.png" alt="Bet1"></td>
                            <td><b>Betclic</b></td>
                            <td><a href="#">9.50</a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets2.png" alt="Bet2"></td>
                            <td><b>PMU</b></td>
                            <td><a href="#">8.50</a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets3.png" alt="Bet3"></td>
                            <td><b>Netbet</b></td>
                            <td><a href="#">8.00</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td class="event-lost result table-toggle"><b>2 - 1</b><i class="icon-expand"></i><a href="#">8.00</a>
                <div class="table-slide">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets1.png" alt="Bet1"></td>
                            <td><b>Betclic</b></td>
                            <td><a href="#">9.50</a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets2.png" alt="Bet2"></td>
                            <td><b>PMU</b></td>
                            <td><a href="#">8.50</a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets3.png" alt="Bet3"></td>
                            <td><b>Netbet</b></td>
                            <td><a href="#">8.00</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td class="event-lost result table-toggle"><b>2 - 1</b><i class="icon-expand"></i><a href="#">8.00</a>
                <div class="table-slide">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets1.png" alt="Bet1"></td>
                            <td><b>Betclic</b></td>
                            <td><a href="#">9.50</a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets2.png" alt="Bet2"></td>
                            <td><b>PMU</b></td>
                            <td><a href="#">8.50</a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets3.png" alt="Bet3"></td>
                            <td><b>Netbet</b></td>
                            <td><a href="#">8.00</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td class="event-lost result"><b>1 - 0</b><i class="icon-expand"></i><a href="#">9.50</a></td>
            <td class="event-lost result"><b>1 - 0</b><i class="icon-expand"></i><a href="#">9.50</a></td>
            <td class="event-lost result"><b>1 - 0</b><i class="icon-expand"></i><a href="#">9.50</a></td>
        </tr>
        <tr>
            <td class="event-lost result"><b>2 - 0</b><i class="icon-expand"></i><a href="#">8.50</a></td>
            <td class="event-lost result"><b>2 - 0</b><i class="icon-expand"></i><a href="#">8.50</a></td>
            <td class="event-lost result"><b>2 - 0</b><i class="icon-expand"></i><a href="#">8.50</a></td>
        </tr>
        <tr>
            <td class="event-lost result"><b>2 - 1</b><i class="icon-expand"></i><a href="#">8.00</a></td>
            <td class="event-lost result"><b>2 - 1</b><i class="icon-expand"></i><a href="#">8.00</a></td>
            <td class="event-lost result"><b>2 - 1</b><i class="icon-expand"></i><a href="#">8.00</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Goal Scorer Odds
        <div class="tools"><i>Best odds displayed: click on the value to see details</i></div>
    </div>
    <table class="table table-condensed odds-goal-scorers">
        <tbody>
        <tr>
            <th class="logo"><img alt="Real" src="{{ basePath }}img/sprites/realmadrid.png"><b>Real Madrid</b></th>
            <th class="text-center"><b>Goal scorer</b></th>
            <th class="text-center"><b>First goal scorer</b></th>
            <th class="text-center"><b>Last goal scorer</b></th>
        </tr>
        <tr>
            <td><b>L. Suarez</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">1.43</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">2.83</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">3.62</a></td>
        </tr>
        <tr>
            <td><b>D. Sturridge</b></td>
            <td class="event-won result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">1.55</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">3.46</a></td>
            <td class="event-won result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">4.38</a></td>
        </tr>
        <tr>
            <td><b>S. Gerrard</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">2.05</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">5.15</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">6.25</a></td>
        </tr>
        <tr>
            <td><b>I. Aspas</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">2.17</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">5.62</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">6.75</a></td>
        </tr>
        <tr>
            <td><b>R.Steling</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">2.35</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">6.25</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">7.50</a></td>
        </tr>
        <tr>
            <td><b>P. Coutinho</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">2.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">6.75</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">8.00</a></td>
        </tr>
        <tr>
            <td><b>V. Moses</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">2.81</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">8.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">9.25</a></td>
        </tr>
        <tr>
            <td><b>J. Henderson</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">3.38</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">10.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">11.00</a></td>
        </tr>
        <tr>
            <td><b>M. Skrtel</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#">5.25</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#">16.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#">17.00</a></td>
        </tr>
        <tr>
            <td><b>J.Allen</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">8.25</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">26.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">23.00</a></td>
        </tr>
        <tr>
            <td><b>M. Kelly</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">8.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">29.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">29.00</a></td>
        </tr>
        <tr>
            <td><b>D. Agger</b></td>
            <td class="event-won result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#">8.75</a></td>
            <td class="event-won result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#">27.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#">25.00</a></td>
        </tr>
        <tr>
            <td><b>G. Johnson</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">8.75</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">27.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">25.00</a></td>
        </tr>
        <tr>
            <td><b>. Lucas Leiva</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">10.25</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">33.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">26.00</a></td>
        </tr>
        <tr>
            <td><b>M. Sakho</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">10.75</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">35.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">27.50</a></td>
        </tr>
        <tr>
            <td><b>A. Cissokho</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">12.25</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">33.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">30.00</a></td>
        </tr>
        <tr>
            <td><b>J. Flanagan</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">12.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">41.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">33.50</a></td>
        </tr>
        <tr>
            <td><b>K. Toure</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">14.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">41.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">37.50</a></td>
        </tr>
        <tr>
            <td><b>J. Enrique</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">17.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">41.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">34.00</a></td>
        </tr>
        <tr>
            <th class="logo"><img alt="fc" src="{{ basePath }}img/sprites/fc_bayern.png"><b>Bayern Munich</b></th>
            <th class="text-center"><b>Goal scorer</b></th>
            <th class="text-center"><b>First goal scorer</b></th>
            <th class="text-center"><b>Last goal scorer</b></th>
        </tr>
        <tr>
            <td><b>L. Remy</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">3.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">9.75</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">12.50</a></td>
        </tr>
        <tr>
            <td><b>S. Ameobi</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">5.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">15.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">18.00</a></td>
        </tr>
        <tr>
            <td><b>L. de Jong</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">5.12</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">16.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">19.00</a></td>
        </tr>
        <tr>
            <td><b>A. Armstrong</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">6.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">19.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">22.00</a></td>
        </tr>
        <tr>
            <td><b>S. Ameobi</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">6.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">23.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">23.00</a></td>
        </tr>
        <tr>
            <td><b>H.Ben Arfa</b></td>
            <td class="event-won result table-toggle"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">7.00</a>
                <div class="table-slide">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets1.png" alt="Bet1"></td>
                            <td><span class="icon-arrow-down"></span><a href="#">7.00</a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets2.png" alt="Bet2"></td>
                            <td><span class="icon-arrow-down"></span><a href="#">8.50</a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets3.png" alt="Bet3"></td>
                            <td><span class="icon-arrow-down"></span><a href="#">8.00</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td class="event-lost result table-toggle"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">21.00</a>
                <div class="table-slide">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets1.png" alt="Bet1"></td>
                            <td><span class="icon-arrow-down"></span><a href="#">9.50</a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets2.png" alt="Bet2"></td>
                            <td><span class="icon-arrow-down"></span><a href="#">8.50</a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets3.png" alt="Bet3"></td>
                            <td><span class="icon-arrow-down"></span><a href="#">8.00</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td class="result table-toggle"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">24.50</a>
                <div class="table-slide">
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets1.png" alt="Bet1"></td>
                            <td><span class="icon-arrow-down"></span><a href="#"><s>9.50</s></a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets2.png" alt="Bet2"></td>
                            <td><span class="icon-arrow-down"></span><a href="#"><s>8.50</s></a></td>
                        </tr>
                        <tr>
                            <td class="logo"><img src="{{ basePath }}img/sprites/bets3.png" alt="Bet3"></td>
                            <td><span class="icon-arrow-down"></span><a href="#"><s>8.00</s></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td><b>Y. Gouffran</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">7.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">22.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#"><s>24.00</s></a></td>
        </tr>
        <tr>
            <td><b>M. Sissoko</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#">8.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#">25.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#"><s>27.50</s></a></td>
        </tr>
        <tr>
            <td><b>S. Marveaux</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">10.25</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">31.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#"><s>34.00</s></a></td>
        </tr>
        <tr>
            <td><b>D. Gosling</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">11.25</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">35.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#"><s>37.50</s></a></td>
        </tr>
        <tr>
            <td><b>G. Obertan</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">12.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">41.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#"><s>41.00</s></a></td>
        </tr>
        <tr>
            <td><b>V. Anita</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">14.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">42.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#"><s>46.00</s></a></td>
        </tr>
        <tr>
            <td><b>G. Bigirimana</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">15.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">51.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#"><s>51.00</s></a></td>
        </tr>
        <tr>
            <td><b>C. Tiote</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">16.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">48.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#"><s>54.00</s></a></td>
        </tr>
        <tr>
            <td><b>M. Debuchy</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">16.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">50.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#"><s>54.00</s></a></td>
        </tr>
        <tr>
            <td><b>S. Taylor</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#">20.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#">54.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-equal"></span><a href="#"><s>59.00</s></a></td>
        </tr>
        <tr>
            <td><b>P. Dummett</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">21.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">67.50</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#"><s>71.00</s></a></td>
        </tr>
        <tr>
            <td><b>M. Williamson</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">25.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">76.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#"><s>76.00</s></a></td>
        </tr>
        <tr>
            <td><b>F. Coloccini</b></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">26.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">74.00</a></td>
            <td class="event-lost result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#"><s>74.00</s></a></td>
        </tr>
        <tr>
            <td><b>M. Yanga-Mbiwa</b></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">28.50</a></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#">81.00</a></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-up"></span><a href="#"><s>81.00</s></a></td>
        </tr>
        <tr>
            <td><b>D. Santon</b></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">29.00</a></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">101</a></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#"><s>101</s></a></td>
        </tr>
        <tr>
            <td><b>R. Streete</b></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">29.00</a></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">101</a></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#"><s>101</s></a></td>
        </tr>
        <tr>
            <td><b>M. Haidara</b></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">31.50</a></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#">84.00</a></td>
            <td class="odd result"><i class="icon-expand"></i><span class="icon-arrow-down"></span><a href="#"><s>91.00</s></a></td>
        </tr>
        </tbody>
    </table>
</div>
