{% extends "layouts/3_columns.html.twig" %}
{% set basePath = '../' %}

{% block container_main %}
    {{ include('blocks/commons/breadcrumb.html.twig', {breadcrumb: ['Champions League', 'Real Madrid - Bayern'], breadcrumb_h1:'Real Madrid vs. Bayern Munich Head to Head'}) }}
{% endblock %}

{% block content %}
    {{ include('blocks/sports/match/match_information.html.twig', {selectedTab: 'head-to-head'}) }}
    <h2 class="h2-inpage">Real Madrid Bayern Munich confrontation history</h2>
    {% include 'blocks/various/share_page_small.html.twig' %}
    <div class="row">
        <div class="col-xs-12">{% include 'blocks/sports/match/team_head2head.html.twig' %}</div>
    </div>
    <div class="row">
        <div class="col-xs-6">{% include 'blocks/sports/team/team_form.html.twig' %}</div>
        <div class="col-xs-6">{% include 'blocks/sports/team/team_form.html.twig' %}</div>
    </div>
    <div class="row">
        <div class="col-xs-6">{{ include('blocks/sports/team/team_over_under_v1.1.html.twig', {logo: 'true'}) }}</div>
        <div class="col-xs-6">{{ include('blocks/sports/team/team_over_under_v1.1.html.twig', {logo: 'true', team2: '_2'}) }}</div>
    </div>
    {% include 'blocks/sports/team/team_standing_evolution.html.twig' %}
    {% include 'blocks/various/comment_thread.html.twig' %}
{% endblock %}

{% block content_right %}
    {{ include('blocks/various/follow_us.html.twig', {in_panel:'true'}) }}
    {% include 'blocks/various/partners_featured.html.twig' %}
{% endblock %}