{% extends "layouts/3_columns.html.twig" %}
{% set basePath = '../' %}

{% block container_main %}
    {{ include('blocks/commons/breadcrumb.html.twig', {breadcrumb: ['Champions League Scores', '<h1>Real Madrid vs. Bayern Munich Score</h1>']}) }}
{% endblock %}

{% block content %}
    {{ include('blocks/sports/match/match_information.html.twig', {selectedTab: 'summary'}) }}
    <h2 class="h2-small">Real Madrid Bayern Munich Result</h2>
    {% include 'blocks/various/share_page_small.html.twig' %}
    {% include 'blocks/sports/match/match_timeline.html.twig' %}
    {% include 'blocks/sports/match/match_comments_iframe.html.twig' %}
    {% include 'blocks/sports/match/match_statistics.html.twig' %}
    {% include 'blocks/sports/match/match_incidents.html.twig' %}
    {% include 'blocks/sports/match/match_lineups.html.twig' %}
    {% include 'blocks/sports/match/match_odds_1x2.html.twig' %}
    {{ include('blocks/sports/match/match_betting_tips.html.twig', {in_panel:'true'}) }}
    {{ include('blocks/sports/match/match_prediction.html.twig', {withContest:'true'}) }}
    {% include 'blocks/various/comment_thread.html.twig' %}
{% endblock %}

{% block content_right %}
    {% include 'blocks/sports/top_competitions_tables.html.twig' %}
    {{ include('blocks/sports/match/team_head2head.html.twig', {small:'true'}) }}
    {% include 'blocks/sports/team/team_form.html.twig' %}
    {% include 'blocks/sports/team/team_form.html.twig' %}
    {{ include('blocks/various/follow_us.html.twig', {in_panel:'true'}) }}
    {% include 'blocks/various/partners_featured.html.twig' %}
{% endblock %}