{% set basePath = '../' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Livescore">
    <meta name="author" content="Condor Themes">
    <link rel="icon" href="js/bootstrap/favicon.ico">
    <title>Livescore</title>

    <!-- Global Style links-->

    <!-- LSicons-->
    <link rel="stylesheet" href="{{ basePath }}js/lsicons/style.css" />

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ basePath }}js/owl.carousel/assets/owl.carousel.css" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ basePath }}css/style.css" />

    <!--[if IE]>
    <link rel="stylesheet" href="{{ basePath }}css/style_split_1.css" />
    <link rel="stylesheet" href="{{ basePath }}css/style_split_2.css" />
    <![endif]-->

    <!--End Global Style-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="iframe">

<table class="table matches table-condensed table-striped no-border">
    <tbody>
    <tr class="league-data active">
        <th colspan="7">
            <div class="tools">
            <span>
              <a href="#"><i class="icon-standings"></i> Table</a>
              <a href="#" class="fav active"><span class="glyphicon glyphicon-star"></span></a>
            </span>
            </div>
            <a href="#" class="dropdown-toggle"><i class="icon-caret-down"></i></a>
            <div class="title">
                <span class="country"><i class="country-flag fr"></i>France :</span>
                <a href="#">Ligue 2</a>
            </div>
        </th>
    </tr>
    <tr>
        <td><span class="hour">20h00</span> </td>
        <td><a href="#">Bet</a></td>
        <td class="team team1"><a href="#">Barcelona<img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></a></td>
        <td class="score"><a class="has-score-details" href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
        <td class="team team2"><a href="#"><img src="{{ basePath }}img/sprites/team5.png" alt="Team 5">Atletico Madrid</a></td>
        <td class="half-time-score">(0 - 1)</td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr class="league-data active">
        <th colspan="7">
            <div class="tools">
            <span>
                <a href="#" class="live"><i class="icon-standings"></i>LIVE Table</a>
                <a href="#" class="fav active"><span class="glyphicon glyphicon-star"></span></a>
            </span>
            </div>
            <a href="#" class="dropdown-toggle"><i class="icon-caret-down"></i></a>
            <div class="title">
                <span class="country"><i class="country-flag dz"></i>Algeria :</span>
                <a href="#">Algeria Nedjma Championnat</a>
            </div>
        </th>
    </tr>
    <tr class="live">
        <td><span class="hour">18h00</span></td>
        <td class="time live">104+</td>
        <td class="team team1"><a href="#">Ain Fekroun</a></td>
        <td class="score"><a class="has-score-details" href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
        <td class="team team2"><a href="#">CR Belouizdad<span class="label red-card">1</span></a></td>
        <td class="half-time-score">(0 - 0)</td>
        <td class="tools">
            <a class="available" href="#"><i class="icon-tv"></i></a>
            <a class="available" href="#"><i class="icon-play"></i></a>
            <a class="available" href="#"><i class="icon-mic"></i></a>
            <a class="available" href="#"><i class="glyphicon glyphicon-comment"></i><span class="comment-number">123</span></a>
            <a class="available" href="#"><i class="icon-prono"></i></a>
            <a class="available" href="#"><i class="icon-stats"></i></a>
            <a href="#" class="active"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr>
        <td>18h00</td>
        <td class="time"> TAB</td>
        <td class="team team1"><a href="#"><span class="label red-card">1</span>USM El Harrach</a></td>
        <td class="score"><a class="has-score-details" href="#"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
        <td class="team team2"><a href="#"><b>CABBA *</b></a></td>
        <td class="half-time-score">(0 - 2)</td>
        <td class="tools">
            <a class="available" href="#"><i class="icon-tv"></i></a>
            <a class="available" href="#"><i class="icon-play"></i></a>
            <a class="available" href="#"><i class="icon-mic"></i></a>
            <a class="available" href="#"><i class="glyphicon glyphicon-comment"></i><span class="comment-number">123</span></a>
            <a class="available" href="#"><i class="icon-prono"></i></a>
            <a class="available" href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr>
        <td><span class="hour">18h00</span></td>
        <td class="time">FT</td>
        <td class="team team1"><a href="#"><b>MO Béjaia</b></a></td>
        <td class="score"><a class="has-score-details" href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
        <td class="team team2"><a href="#">JS Kabylie</a></td>
        <td class="half-time-score">(0 - 1)</td>
        <td class="tools">
            <a href="#"><i class="icon-tv"></i></a>
            <a href="#"><i class="icon-play"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr class="highlight live">
        <td><span class="hour">18h00</span></td>
        <td class="time live">57'</td>
        <td class="team team1"><a href="#">JS Saoura</a></td>
        <td class="score"><a class="has-score-details" href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
        <td class="team team2"><a href="#"><b>MC Alger</b></a></td>
        <td class="half-time-score">(0 - 0)</td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr>
        <td><span class="hour">18h00</span></td>
        <td class="time">FT</td>
        <td class="team team1"><a href="#">MC El Eulma</a></td>
        <td class="score"><a class="has-score-details" href="#"><span class="home-score">10</span> <span class="versus"> - </span> <span class="away">3</span></a></td>
        <td class="team team2"><a href="#">ES Setif</a></td>
        <td class="half-time-score">(1 - 0)</td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr class="live paused">
        <td><span class="hour">18h00</span></td>
        <td class="time">HT</td>
        <td class="team team1"><a href="#">CS Constantine <img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></a></td>
        <td class="score"><a href="#"><span class="home-score">0</span> <span class="versus"> - </span> <span class="away">0</span></a></td>
        <td class="team team2"><a href="#"><img alt="Team 5" src="{{ basePath }}img/sprites/team5.png"> ASO Chlef</a></td>
        <td></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr>
        <td><span class="hour">18h00</span></td>
        <td class="time"></td>
        <td class="team team1"><a href="#">USM Alger</a></td>
        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
        <td class="team team2"><a href="#">Arbaa</a></td>
        <td></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr>
        <td><span class="hour">18h00</span></td>
        <td class="time"></td>
        <td class="team team1"><a href="#">MC Oran</a></td>
        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
        <td class="team team2"><a href="#">JSM Bejaia</a></td>
        <td></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr class="league-data">
        <th colspan="7">
            <div class="tools">
            <span>
              <a href="#" class="fav active"><span class="glyphicon glyphicon-star"></span></a>
            </span>
            </div>
            <a href="#" class="dropdown-toggle"><i class="icon-caret-down"></i></a>
            <div class="title">
                <span class="country"><i class="country-flag at"></i>Austria :</span>
                <a href="#">Austria Regionalliga</a>
            </div>
        </th>
    </tr>
    <tr>
        <td><span class="hour">20h45</span> </td>
        <td></td>
        <td class="team team1"><a href="#">Leyton Orient</a></td>
        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
        <td class="team team2"><a href="#">Peterborough</a></td>
        <td></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr class="league-data">
        <th colspan="7">
            <div class="tools">
            <span>
              <a href="#" class="fav active"><span class="glyphicon glyphicon-star"></span></a>
            </span>
            </div>
            <a href="#" class="dropdown-toggle"><i class="icon-caret-down"></i></a>
            <div class="title">
                <span class="country"><i class="country-flag at"></i>Austria :</span>
                <a href="#">Austria Regionalliga</a>
            </div>
        </th>
    </tr>
    <tr>
        <td><span class="hour">20h45</span> </td>
        <td></td>
        <td class="team team1"><a href="#">Defensores de Bel.</a></td>
        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
        <td class="team team2"><a href="#">CD UAI Urquiza</a></td>
        <td></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr>
        <td><span class="hour">20h45</span> </td>
        <td></td>
        <td class="team team1"><a href="#">Flandria</a></td>
        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
        <td class="team team2"><a href="#">Club Atletico Est.</a></td>
        <td></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr>
        <td><span class="hour">20h45</span> </td>
        <td></td>
        <td class="team team1"><a href="#">Barracas Central</a></td>
        <td class="score"><a data-template="&lt;div class='popover popover-score'&gt;&lt;div class='arrow'&gt;&lt;/div&gt;&lt;div class='popover-title'&gt;&lt;/div&gt;&lt;div class='popover-content'&gt;&lt;/div&gt;&lt;/div&gt;" data-content="
        &lt;table class='table matches table-condensed table-striped no-border'&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td class='team team1'&gt;&lt;/td&gt;
              &lt;td&gt;&lt;/td&gt;
              &lt;td class='score'&gt;&lt;span class='away'&gt;6'&lt;/span&gt;&lt;/td&gt;
              &lt;td&gt;&lt;span class='sprite goal'&gt;&lt;/span&gt;&lt;/td&gt;
              &lt;td class='team team2'&gt;David Alaba&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td class='team team1'&gt;Cristiano Ronaldo (Penalty)&lt;/td&gt;
              &lt;td&gt;&lt;span class='sprite penalty-goal'&gt;&lt;/span&gt;&lt;/td&gt;
              &lt;td class='score'&gt;&lt;span class='home-score'&gt;6'&lt;/span&gt;&lt;/td&gt;
              &lt;td&gt;&lt;/td&gt;
              &lt;td class='team team2'&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td class='team team1'&gt;Cristiano Ronaldo&lt;/td&gt;
              &lt;td&gt;&lt;span class='sprite goal'&gt;&lt;/span&gt;&lt;/td&gt;
              &lt;td class='score'&gt;&lt;span class='home-score'&gt;14'&lt;/span&gt;&lt;/td&gt;
              &lt;td&gt;&lt;span class='sprite goal'&gt;&lt;/span&gt;&lt;/td&gt;
              &lt;td class='team team2'&gt;&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td class='team team1'&gt;&lt;/td&gt;
              &lt;td&gt;&lt;/td&gt;
              &lt;td class='score'&gt;&lt;span class='away'&gt;26'&lt;/span&gt;&lt;/td&gt;
              &lt;td&gt;&lt;span class='sprite penalty-goal'&gt;&lt;/span&gt;&lt;/td&gt;
              &lt;td class='team team2'&gt;Arjen Robben (Penalty)&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;
        " data-placement="bottom" data-container="body" data-html="true" data-popover="popover" href="javascript:;" data-original-title="" title=""><span class="home-score">2</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
        <td class="team team2"><a href="#">Colegiales</a></td>
        <td class="half-time-score">(0 - 1)</td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr>
        <td><span class="hour">20h45</span> </td>
        <td></td>
        <td class="team team1"><a href="#">Chacarita Juniors</a></td>
        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
        <td class="team team2"><a href="#">Dep. Merlo</a></td>
        <td></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr>
        <td><span class="hour">20h45</span> </td>
        <td></td>
        <td class="team team1"><a href="#">Los Andes</a></td>
        <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
        <td class="team team2"><a href="#">Deportivo Armenio</a></td>
        <td></td>
        <td class="tools">
            <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="#"><i class="icon-mic"></i></a>
            <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
            <a href="#"><i class="icon-prono"></i></a>
            <a href="#"><i class="icon-stats"></i></a>
            <a href="#"><i class="icon-bell"></i></a>
        </td>
    </tr>
    <tr class="league-data">
        <th colspan="7">
            <div class="tools">
            <span>
              <a href="#"><i class="icon-standings"></i> Table</a>
              <a href="#" class="fav"><span class="glyphicon glyphicon-star"></span></a>
            </span>
            </div>
            <a href="#" class="dropdown-toggle"><i class="icon-caret-right"></i></a>
            <div class="title">
                <span class="country"><i class="country-flag fr"></i>France :</span>
                <a href="#">Ligue 2 </a>
            </div>
        </th>
    </tr>
    <tr class="league-data">
        <th colspan="7">
            <div class="tools">
            <span>
              <a href="#"><i class="icon-standings"></i> Table</a>
              <a href="#" class="fav"><span class="glyphicon glyphicon-star"></span></a>
            </span>
            </div>
            <a href="#" class="dropdown-toggle"><i class="icon-caret-right"></i></a>
            <div class="title">
                <span class="country"><i class="country-flag fr"></i>France :</span>
                <a href="#">Ligue 2 </a>
            </div>
        </th>
    </tr>
    <tr class="league-data">
        <th colspan="7">
            <div class="tools">
            <span>
              <a href="#"><i class="icon-standings"></i> Table</a>
              <a href="#" class="fav"><span class="glyphicon glyphicon-star"></span></a>
            </span>
            </div>
            <a href="#" class="dropdown-toggle"><i class="icon-caret-right"></i></a>
            <div class="title">
                <span class="country"><i class="country-flag fr"></i>France :</span>
                <a href="#">Ligue 2 </a>
            </div>
        </th>
    </tr>
    </tbody>
</table>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ basePath }}js/jquery-1.11.1.min.js"></script>
<script src="{{ basePath }}js/jquery-ui/jquery-ui.js"></script>
<script src="{{ basePath }}js/owl.carousel/owl.carousel.min.js"></script>
<script src="{{ basePath }}js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $( document ).ready(function() {

        /*Sortable*/
        $( ".sortable-ul" ).sortable();
        $( ".sortable-ul" ).disableSelection();

        /*Tooltips*/
        $('.ttip, [data-toggle="tooltip"]').tooltip();

        /*Popover*/
        $('[data-popover="popover"]').popover();

    });
</script>
</body>
</html>
