{% extends 'blocks/base.html.twig' %}

{% set panel_classes = 'panel-default' %}
{% block panel_heading %}
    <div class="panel-title">PSG fixtures and results</div>

{% endblock %}

{% block widget_content %}
        <table class="table matches table-condensed layout-fixed">
                <colgroup>
                    <col class="event-outcome">
                    <col class="date">
                    <col class="time">
                    <col class="stage-has-logo">
                    <col class="team">
                    <col class="score">
                    <col class="team">
                    <col class="tools tools-4">
                    <col class="favorite">
                </colgroup>
                <tbody>
                <tr class="league-data">
                    <th colspan="9">
                        <div class="tools">
                        <span>
                          <a href="#"><i class="icon-standings"></i> Table</a>
                          <a class="fav" href="#"><span class="glyphicon glyphicon-star" data-toggle="tooltip" data-container="body" data-placement="top" title="" data-original-title="Add/Remove from My Games"></span></a>
                        </span>
                        </div>
                        <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
                        <div class="title">
                            <a href="#" class="country"><span class="icon-placeholder"><i class="country-flag fr"></i></span>France :</a>
                            <a href="#">League 1</a><span class="match-name">: Groupe stage - Group C</span>
                        </div>
                    </th>
                </tr>
                <tr class="event-lost">
                    <td class="event-outcome event-outcome-lost" data-toggle="tooltip" data-placement="left" data-container="body" title="Lost"><a href="#">L</a></td>
                    <td class="date">03/01</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
                    <td class="team team1"><a href="#">PSG</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2 win"><a href="#">As Roma<span class="label red-card">2</span></a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
                    <td class="date">10/01</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
                    <td class="team team1 win"><a href="#">PSG</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Juventus</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-lost">
                    <td class="event-outcome event-outcome-lost" data-toggle="tooltip" data-placement="left" data-container="body" title="Lost"><a href="#">L</a></td>
                    <td class="date">14/01</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
                    <td class="team team1 win"><a href="#">Borussia Dortmund</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">PSG</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-draw">
                    <td class="event-outcome event-outcome-draw" data-toggle="tooltip" data-placement="left" data-container="body" title="Draw"><a href="#">D</a></td>
                    <td class="date">01/02</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/cdl.png" alt="Ldc">Final</td>
                    <td class="team team1"><a href="#">Reims</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">PSG</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-draw">
                    <td class="event-outcome event-outcome-draw" data-toggle="tooltip" data-placement="left" data-container="body" title="Draw"><a href="#">D</a></td>
                    <td class="date">08/02</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
                    <td class="team team1"><a href="#"><span class="label red-card">1</span>PSG</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Barcelona</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
                    <td class="date">12/02</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
                    <td class="team team1"><a href="#">Saint Etienne</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2 win"><a href="#">PSG</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
                    <td class="date">20/02</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
                    <td class="team team1 win"><a href="#">PSG</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Manchester United</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
                    <td class="date">25/02</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/ligue1.png" alt="Ldc">MD34</td>
                    <td class="team team1"><a href="#">FC Sevilla</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2 win"><a href="#">PSG</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
                    <td class="date">03/03</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">P.A1 - 13a j.</td>
                    <td class="team team1 win"><a href="#">PSG</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Marseille</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
                    <td class="date">14/03</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/ligue1.png" alt="Ldc">1/4 - L1</td>
                    <td class="team team1 win"><a href="#">PSG</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Chelsea</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr class="event-won">
                    <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
                    <td class="date">17/03</td>
                    <td class="time">FT</td>
                    <td class="stage stage-has-logo"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
                    <td class="team team1 win"><a href="#">PSG</a></td>
                    <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
                    <td class="team team2"><a href="#">Dublin</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="event-outcome event-outcome-upcoming"></td>
                    <td class="date">28/03</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
                    <td class="team team1"><a href="#">PSG</a></td>
                    <td class="score hour"><a href="#">20:45</a></td>
                    <td class="team team2"><a href="#">Lille</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                <tr>
                    <td class="event-outcome event-outcome-upcoming"></td>
                    <td class="date">02/04</td>
                    <td class="time">FT</td>
                    <td class="stage"><img src="{{ basePath }}img/sprites/friendly-match.png" alt="Ldc"></td>
                    <td class="team team1"><a href="#">Nantes</a></td>
                    <td class="score hour"><a href="#">20:45</a></td>
                    <td class="team team2"><a href="#">PSG</a></td>
                    <td class="tools dropdown">
                        <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
                    </td>
                    <td class="favorite">
                        <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
    <table class="table matches table-condensed layout-fixed">
        <colgroup>
            <col class="event-outcome">
            <col class="date">
            <col class="time">
            <col class="stage-has-logo">
            <col class="team">
            <col class="score">
            <col class="team">
            <col class="tools tools-4">
            <col class="favorite">
        </colgroup>
        <tbody>
        <tr class="league-data">
            <th colspan="9">
                <div class="tools">
                        <span>
                          <a href="#"><i class="icon-standings"></i> Table</a>
                          <a class="fav" href="#"><span class="glyphicon glyphicon-star" data-toggle="tooltip" data-container="body" data-placement="top" title="" data-original-title="Add/Remove from My Games"></span></a>
                        </span>
                </div>
                <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
                <div class="title">
                    <a href="#" class="country"><span class="icon-placeholder"><i class="country-flag _United_Nations"></i></span>International :</a>
                    <a href="#">Champions League</a><span class="match-name">: Groupe stage - Group C</span>
                </div>
            </th>
        </tr>
        <tr class="event-lost">
            <td class="event-outcome event-outcome-lost" data-toggle="tooltip" data-placement="left" data-container="body" title="Lost"><a href="#">L</a></td>
            <td class="date">03/01</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
            <td class="team team1"><a href="#">PSG</a></td>
            <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2 win"><a href="#">As Roma<span class="label red-card">2</span></a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr class="event-won">
            <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
            <td class="date">10/01</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
            <td class="team team1 win"><a href="#">PSG</a></td>
            <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2"><a href="#">Juventus</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr class="event-lost">
            <td class="event-outcome event-outcome-lost" data-toggle="tooltip" data-placement="left" data-container="body" title="Lost"><a href="#">L</a></td>
            <td class="date">14/01</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
            <td class="team team1 win"><a href="#">Borussia Dortmund</a></td>
            <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2"><a href="#">PSG</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr class="event-draw">
            <td class="event-outcome event-outcome-draw" data-toggle="tooltip" data-placement="left" data-container="body" title="Draw"><a href="#">D</a></td>
            <td class="date">01/02</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/cdl.png" alt="Ldc">Final</td>
            <td class="team team1"><a href="#">Reims</a></td>
            <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2"><a href="#">PSG</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr class="event-draw">
            <td class="event-outcome event-outcome-draw" data-toggle="tooltip" data-placement="left" data-container="body" title="Draw"><a href="#">D</a></td>
            <td class="date">08/02</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
            <td class="team team1"><a href="#"><span class="label red-card">1</span>PSG</a></td>
            <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2"><a href="#">Barcelona</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr class="event-won">
            <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
            <td class="date">12/02</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
            <td class="team team1"><a href="#">Saint Etienne</a></td>
            <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2 win"><a href="#">PSG</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr class="event-won">
            <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
            <td class="date">20/02</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
            <td class="team team1 win"><a href="#">PSG</a></td>
            <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2"><a href="#">Manchester United</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr class="event-won">
            <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
            <td class="date">25/02</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/ligue1.png" alt="Ldc">MD34</td>
            <td class="team team1"><a href="#">FC Sevilla</a></td>
            <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2 win"><a href="#">PSG</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr class="event-won">
            <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
            <td class="date">03/03</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">P.A1 - 13a j.</td>
            <td class="team team1 win"><a href="#">PSG</a></td>
            <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2"><a href="#">Marseille</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr class="event-won">
            <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
            <td class="date">14/03</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/ligue1.png" alt="Ldc">1/4 - L1</td>
            <td class="team team1 win"><a href="#">PSG</a></td>
            <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2"><a href="#">Chelsea</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr class="event-won">
            <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">W</a></td>
            <td class="date">17/03</td>
            <td class="time">FT</td>
            <td class="stage stage-has-logo"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
            <td class="team team1 win"><a href="#">PSG</a></td>
            <td class="score"><a href="#" class="has-score-details"><span class="home-score">3</span> <span class="versus"> - </span> <span class="away">1</span></a></td>
            <td class="team team2"><a href="#">Dublin</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr>
            <td class="event-outcome event-outcome-upcoming"></td>
            <td class="date">28/03</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc">1/4 - L1</td>
            <td class="team team1"><a href="#">PSG</a></td>
            <td class="score hour"><a href="#">20:45</a></td>
            <td class="team team2"><a href="#">Lille</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        <tr>
            <td class="event-outcome event-outcome-upcoming"></td>
            <td class="date">02/04</td>
            <td class="time">FT</td>
            <td class="stage"><img src="{{ basePath }}img/sprites/friendly-match.png" alt="Ldc"></td>
            <td class="team team1"><a href="#">Nantes</a></td>
            <td class="score hour"><a href="#">20:45</a></td>
            <td class="team team2"><a href="#">PSG</a></td>
            <td class="tools dropdown">
                <a href="#" class="dropdown-toggle" id="" data-toggle="dropdown" aria-expanded="true"><i class="glyphicon glyphicon-option-horizontal"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#" class="available"><i class="icon-bell"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}