<div class="row">
    <div class="col-md-12" style="overflow: scroll">
        <table class="table matches table-condensed layout-fixed">
            <colgroup>
                <col class="number">
                <col class="event-leg">
                <col class="event-outcome event-outcome-draw">
                <col class="event-outcome event-outcome-won">
                <col class="event-outcome event-outcome-lost">
                <col class="league-logo">
                <col class="logo">
                <col class="date">
                <col class="hour">
                <col class="stage-has-logo">
                <col class="stage">
                <col class="time">
                <col class="team team1 win" width="120">
                <col class="score">
                <col class="score">
                <col class="score hour">
                <col class="team team2" width="120">
                <col class="half-time-score">
                <col class="minutes">
                <col class="odd">
                <col class="odd">
                <col class="odd">
                <col class="prediction">
                <col class="trend">
                <col class="tools">
                <col class="favorite">
            </colgroup>
            <tbody>
            <tr class="league-data active">
                <th colspan="26">
                    <div class="tools">
                            <span>
                              <a href="#"><i class="icon-standings"></i> Table</a>
                              <a class="fav active" href="#"><span class="glyphicon glyphicon-star" data-toggle="tooltip" data-container="body" data-placement="top" title="Add/Remove from My Leagues"></span></a>
                            </span>
                    </div>
                    <a class="dropdown-toggle" href="#"><i class="icon-caret-down"></i></a>
                    <div class="title">
                        <span class="country"><i class="country-flag fr"></i>France :</span>
                        <a href="#">Ligue 2</a>
                    </div>
                </th>

            </tr>
            <tr>
                <td class="number">1</td>
                <td class="event-leg" data-toggle="tooltip" data-placement="left" data-container="body" title="1st leg">A</td>
                <td class="event-outcome event-outcome-draw" data-toggle="tooltip" data-placement="left" data-container="body" title="Draw"><a href="#">D</a></td>
                <td class="event-outcome event-outcome-won" data-toggle="tooltip" data-placement="left" data-container="body" title="Won"><a href="#">w</a></td>
                <td class="event-outcome event-outcome-lost" data-toggle="tooltip" data-placement="left" data-container="body" title="Lost"><a href="#">L</a></td>
                <td class="league"><img src="{{ basePath }}img/sprites/ligue1.png" alt="League 1" data-toggle="tooltip" data-placement="top" data-container="body" title="Ligue 1"></td>
                <td class="logo"><img alt="Bet1" src="{{ basePath }}img/sprites/bets1.png" data-toggle="tooltip" data-placement="top" data-container="body" title="Betclic"></td>
                <td class="date">02/04</td>
                <td class="hour">20h00</td>
                <td class="stage stage-with-logo"><img src="{{ basePath }}img/sprites/ldc.png" alt="Ldc" data-toggle="tooltip" data-placement="top" data-container="body" title="Champions League">1/4 - L1</td>
                <td class="stage">1/4 - L1</td>
                <td><a href="#">Bet</a></td>
                <td class="team team1 win"><a href="#"><span class="label red-card">1</span><span class="qualified">*</span><span>Barcelona</span><img src="{{ basePath }}img/sprites/barcelona.png" alt="Barcelona"></a></td>
                <td class="score"><a href="#"><span class="icon-expand-h"></span></a></td>
                <td class="score"><a href="#" class="has-score-details"><span class="home-score">1</span> <span class="versus"> - </span> <span class="away">2</span></a></td>
                <td class="score hour"><a href="#">20:45</a></td>
                <td class="team team2"><a href="#"><img alt="Team 5" src="{{ basePath }}img/sprites/team5.png"><span>Atletico Madrid</span></a></td>
                <td class="half-time-score">(0 - 1)</td>
                <td class="minutes">20'</td>
                <td class="odd">
                    <span class="icon-arrow-down"></span><a href="#">1.75</a>
                </td>
                <td class="odd">
                    <span class="icon-arrow-up"></span><a href="#">3.50</a>
                </td>
                <td class="odd">
                    <span class="icon-equal"></span><a href="#">3.80</a>
                </td>
                <td class="prediction">
                    <div class="btn-group btn-group-justified btn-group-xs">
                        <a class="btn btn-prediction">1</a>
                        <a class="btn btn-prediction">X</a>
                        <a class="btn btn-prediction">2</a>
                    </div>
                </td>
                <td class="trend">
                    <div class="progress">
                        <div class="progress-bar progress-bar-home" style="width: 50%">
                            <span class="sr-only">60% Complete (success)</span>
                        </div>
                        <div class="progress-bar progress-bar-neutral" style="width: 20%">
                            <span class="sr-only">10% Complete (warning)</span>
                        </div>
                        <div class="progress-bar progress-bar-away" style="width: 30%">
                            <span class="sr-only">40% Complete (danger)</span>
                        </div>
                    </div>
                </td>
                <td class="tools">
                    <a href="#"><i class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="top" title="[ Info ]"></i></a>
                    <a href="#"><i class="icon-mic" data-toggle="tooltip" data-placement="top" title="[ Match commented ]"></i></a>
                    <a href="#"><i class="glyphicon glyphicon-comment" data-toggle="tooltip" data-placement="top" title="[ Chat messages ]"></i></a>
                    <a href="#"><i class="icon-prono" data-toggle="tooltip" data-placement="top" title="[ Prediction ]"></i></a>
                    <a href="#"><i class="icon-stats" data-toggle="tooltip" data-placement="top" title="[ Statistics ]"></i></a>
                </td>
                <td class="favorite">
                    <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="Add/Remove from My Games"></i></a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>