<div class="panel panel-default">
    <div class="odds-slider" id="odds-slider1">
        <div class="match-infos">
            <table class="table table-us-match-info">
                <tr>
                    <th class="info-datetime">
                        <span>Thursday Sep. 4th</span>
                        <span>8:30pm ET</span>
                    </th>
                </tr>
                <tr>
                    <td class="teams">
                        <div class="team team1"><img src="{{ basePath }}img/team-logos/packers.png" alt="Team 2"></div>
                        @
                        <div class="team team2"><img src="{{ basePath }}img/team-logos/seahawks.png" alt="PSG"></div></td>
                </tr>
                <tr>
                    <td class="team-names">Packers @ Seahawks</td>
                </tr>
            </table>
        </div>

        <div class="odds-type">
            <table class="table table-striped">
                <tr><th><a class="btn btn-default prev control pull-right"><span class="icon-caret-left"></span></a></th></tr>
                <tr><td>Moneyline</td></tr>
                <tr><td>Spread</td></tr>
                <tr><td>Total</td></tr>
            </table>
        </div>
        <div class="content">
            <div class="sportsbooks">
                    <div class="inner owl-carousel owl-theme">
                        <div class="sportsbook-odds">
                            <table class="table table-striped">
                                <tr>
                                    <th class="sportsbook-logo"><img src="{{ basePath }}img/sportsbooks-logos/bovada.png"></th>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="#">
                                            <span class="moneyline">+230</span>
                                            <span class="moneyline">-286</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="">
                                            <span class="spread odd-part">+3.5</span>
                                            <span class="spread">-175</span>
                                            <span class="spread odd-part">+3.5</span>
                                            <span class="spread">-175</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="">
                                            <span class="totals-ou">62o</span>
                                            <span class="totals">-175</span>
                                            <span class="totals">-175</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="sportsbook-odds">
                            <table class="table table-striped">
                                <tr>
                                    <th class="sportsbook-logo"><img src="{{ basePath }}img/sportsbooks-logos/betonline.png"></th>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="#">
                                            <span class="moneyline">+230</span>
                                            <span class="moneyline">-286</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="">
                                            <span class="spread odd-part">+3.5</span>
                                            <span class="spread">-175</span>
                                            <span class="spread odd-part">+3.5</span>
                                            <span class="spread">-175</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="">
                                            <span class="totals-ou">62o</span>
                                            <span class="totals">-175</span>
                                            <span class="totals">-175</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="sportsbook-odds">
                            <table class="table table-striped">
                                <tr>
                                    <th class="sportsbook-logo"><img src="{{ basePath }}img/sportsbooks-logos/5dimes.png"></th>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="#">
                                            <span class="moneyline">+230</span>
                                            <span class="moneyline">-286</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="">
                                            <span class="spread odd-part">+3.5</span>
                                            <span class="spread">-175</span>
                                            <span class="spread odd-part">+3.5</span>
                                            <span class="spread">-175</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="">
                                            <span class="totals-ou">62o</span>
                                            <span class="totals">-175</span>
                                            <span class="totals">-175</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="sportsbook-odds">
                            <table class="table table-striped">
                                <tr>
                                    <th class="sportsbook-logo"><img src="{{ basePath }}img/sportsbooks-logos/sportsbook.png"></th>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="#">
                                            <span class="moneyline">+230</span>
                                            <span class="moneyline">-286</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="">
                                            <span class="spread odd-part">+3.5</span>
                                            <span class="spread">-175</span>
                                            <span class="spread odd-part">+3.5</span>
                                            <span class="spread">-175</span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="odd">
                                        <a href="">
                                            <span class="totals-ou">62o</span>
                                            <span class="totals">-175</span>
                                            <span class="totals">-175</span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        <div class="next-holder">
            <table class="table table-striped">
                <tr><th><a class="btn btn-default next control"><span class="icon-caret-right"></span></a></th></tr>
                <tr><td></td></tr>
            </table>

        </div>
    </div>
</div>