<div class="panel panel-condensed panel-default streaming-matches">
    <div class="panel-heading">
        Next matches in streaming
    </div>
    <table class="table matches table-condensed layout-fixed">
        <colgroup>
            <col class="date-dmy">
            <col class="hour">
            <col class="league-logo">
            <col class="team">
            <col class="score">
            <col class="team">
            <col class="tools tools-5">
            <col class="favorite">
        </colgroup>
        <tbody>
        <tr>
            <td><span class="date">17/04/12</span> </td>
            <td><span class="hour">19:45</span> </td>
            <td><img src="{{ basePath }}img/sprites/cup2.png" alt="Cup"></td>
            <td class="team team1">FC Zurich</td>
            <td class="icon"><a href="#" class="available"><i class="icon-play"></i></a></td>
            <td class="team team2">Monchengladbach</td>
            <td class="tools">
                <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                <a href="#"><i class="icon-mic"></i></a>
                <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                <a href="#"><i class="icon-prono"></i></a>
                <a href="#"><i class="icon-stats"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add/Remove from My Games"></i></a>
            </td>
        </tr>
        <tr>
            <td><span class="date">17/04/12</span> </td>
            <td><span class="hour">19:45</span> </td>
            <td><img src="{{ basePath }}img/sprites/cup2.png" alt="Cup"></td>
            <td class="team team1">Villarreal</td>
            <td class="icon"><a href="#" class="available"><i class="icon-play"></i></a></td>
            <td class="team team2">Apollon Limassol</td>
            <td class="tools">
                <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                <a href="#"><i class="icon-mic"></i></a>
                <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                <a href="#"><i class="icon-prono"></i></a>
                <a href="#"><i class="icon-stats"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add/Remove from My Games"></i></a>
            </td>
        </tr>
        <tr>
            <td><span class="date">17/04/12</span> </td>
            <td><span class="hour">19:45</span> </td>
            <td><img src="{{ basePath }}img/sprites/cup2.png" alt="Cup"></td>
            <td class="team team1">Helsinki</td>
            <td class="icon"><a href="#" class="available"><i class="icon-play"></i></a></td>
            <td class="team team2">Bruges</td>
            <td class="tools">
                <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                <a href="#"><i class="icon-mic"></i></a>
                <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                <a href="#"><i class="icon-prono"></i></a>
                <a href="#"><i class="icon-stats"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add/Remove from My Games"></i></a>
            </td>
        </tr>
        <tr>
            <td><span class="date">17/04/12</span> </td>
            <td><span class="hour">19:45</span> </td>
            <td><img src="{{ basePath }}img/sprites/cup2.png" alt="Cup"></td>
            <td class="team team1">Torino</td>
            <td class="icon"><a href="#" class="available"><i class="icon-play"></i></a></td>
            <td class="team team2">Capenhague</td>
            <td class="tools">
                <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                <a href="#"><i class="icon-mic"></i></a>
                <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                <a href="#"><i class="icon-prono"></i></a>
                <a href="#"><i class="icon-stats"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add/Remove from My Games"></i></a>
            </td>
        </tr>
        <tr>
            <td><span class="date">17/04/12</span> </td>
            <td><span class="hour">19:45</span> </td>
            <td><img src="{{ basePath }}img/sprites/cup2.png" alt="Cup"></td>
            <td class="team team1">Asteras Tripolis</td>
            <td class="icon"><a href="#" class="available"><i class="icon-play"></i></a></td>
            <td class="team team2">Partizan Belgrade</td>
            <td class="tools">
                <a href="#"><i class="glyphicon glyphicon-info-sign"></i></a>
                <a href="#"><i class="icon-mic"></i></a>
                <a href="#"><i class="glyphicon glyphicon-comment"></i></a>
                <a href="#"><i class="icon-prono"></i></a>
                <a href="#"><i class="icon-stats"></i></a>
            </td>
            <td class="favorite">
                <a class="fav-match" href="#"><i class="icon-bell" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add/Remove from My Games"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="view-more" href="#">
        <span class="icon-caret-right"></span>
        View full streaming calendar
    </a>
</div>