<div class="row streaming-table">
    <div class="col-md-12">
        <span class="title">Programme des matchs de foot en streaming</span>
        <div class="btn-group">
            <button class="btn btn-default" type="button"><span class="icon-caret-left"></span></button>
            <button class="btn btn-default dropdown-toggle" type="button">9 MAR - 15 MAR<span class="icon-caret-down"></span></button>
            <button class="btn btn-default" type="button"><span class="icon-caret-right"></span></button>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th></th>
                <th>Monday<span>9 Mar</span></th>
                <th>Tuesday<span>10 Mar</span></th>
                <th>Wednesday<span>11 Mar</span></th>
                <th>Thursday<span>12 Mar</span></th>
                <th>Friday<span>13 Mar</span></th>
                <th>Saturday<span>14 Mar</span></th>
                <th>Sunday<span>15 Mar</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="hour">07:00</td>
                <td></td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">07h30</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                    </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="hour">08:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="hour">09:00</td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">09h00</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                    </ul>
                </td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">09h00</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                    </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="hour">10:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">10h00</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                    </ul>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="hour">11:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="hour">12:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">12h00</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">12h20</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                    </ul>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="hour">13:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="hour">14:00</td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">14h00</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">14h10</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">14h45</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">14h00</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">14h00</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">14h00</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">14h60</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">14h50</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                    </ul>
                </td>
                <td></td>
                <td>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">14h50</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">14h50</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="title"><img src="{{ basePath }}img/sprites/bundesliga.png" alt="Bundes Liga">14h55</span>
                                <span class="description">Hertha Berlin<br>FSV Francfort</span>
                                <span class="hover"><i class="icon icon-play"></i>Watch the match</span>
                            </a>
                        </li>
                    </ul>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="hour">15:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>